/*//////////////////////////////////////////////////////////
                                      BLOG
/////////////////////////////////////////////////////////*/

/* #blogSec {
  margin-right: 15%;
  margin-left: 15%;
} */

/* #blogPost {
  border-bottom: 1px solid #dddddd;
} */
