/*//////////////////////////////////////////////////////////
                                      HOME
/////////////////////////////////////////////////////////*/

#homeSec {
  text-align: center;
}

#homeText {
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

#vidHome {
  height: 25%;
  width: 100%;
}
