* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #bdd1d3;
  background-image: url(../img/web_bgWEB.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

header {
  background-color: #666666;
  height: 100px;
  position: sticky;
  top: 0;
}

.topNav {
  overflow: hidden;
  text-align: right;
  /* margin-right: 50px; */
  padding-top: 38px;
  float: right;
  display: inline;
}

.topNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
  padding: 40px 16px;
  height: 40px;
  background-color: #666666;
}

.topNav a:hover {
  background-color: #555555;
  text-decoration: underline;
}

.topNav .icon {
  display: none;
  font-size: 20px;
  padding: 16px 42px;
}

.active {
  background-color: #555555;
  color: white;
}

header img {
  float: left;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 8px;
  margin-left: 15%;
}

#borderHeadline {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 70px;
  padding-bottom: 70px;
}

#headline {
  margin: 0px;
  color: #f55d4b;
}

section {
  padding: 10px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

div {
  padding: 8px;
}

p {
  margin: 15px;
}

article {
  line-height: 1.2;
  padding: 16px;
}

h1 {
  margin: 0px;
  text-align: center;
  color: #f55d4b;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  padding: 4px;
  letter-spacing: 1px;
}

h2 {
  margin: 0px;
  color: #f55d4b;
  padding: 16px;
  letter-spacing: 1px;
  border-bottom: 1px solid #dddddd;
}

h3 {
  margin: 0px;
  padding: 12px;
  color: #f55d4b;
}

h4 {
  margin: 0px;
  padding: 6px 0;
}

hr {
  border-top: 1px solid #dddddd;
}

/*/////////////////FOOTER/////////////////*/

footer {
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 2%;
  background-color: #333333;
  /* height: 150px; */
  color: #f55d4b;
  font-size: 1em;
  text-align: left;
  padding: 4px;
  padding-left: 20px;
}

#footText {
  color: white;
  font-size: 0.8em;
}

#copyright {
  color: #dddddd;
  font-size: 0.8em;
  text-align: right;
}
