/*//////////////////////////////////////////////////////////
                                      PORTFOLIO
/////////////////////////////////////////////////////////*/

#portText {
  margin: 0px;
  padding: 4px;
  padding-right: 160px;
  display: inline-block;
}

#gamesDiv {
  border-bottom: 1px solid #dddddd;
}

/*///////////////////////////////GALLERIES/////////////////////////////////////*/

/*///////////GLD Gallery////////////////////*/
.row > .column {
  padding: 1 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 20%;
}

.column img {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: sticky;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 100%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*/////////////////////FTS Gallery////////////////////*/

.row2 > .column2 {
  padding: 0 8px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column2 {
  float: left;
  width: 20%;
}

.column2 img {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal2 {
  display: none;
  position: sticky;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 100%;
}

/* Hide the slides by default */
.mySlides2 {
  display: none;
}

/* Caption text */
.caption-container2 {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo2 {
  opacity: 0.6;
}

.active2,
.demo2:hover {
  opacity: 1;
}

/*GAME PLAY IT*/

#playButton {
  background-color: white;
  color: #bcbcbc;
  border: solid;
  border-color: #bcbcbc;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-family: Comic Sans MS;
  transition-duration: 0.4s;
}

/*/////////////////////CS Gallery////////////////////*/

.row3 > .column3 {
  padding: 0 8px;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to each other */
.column3 {
  float: left;
  width: 20%;
}

.column3 img {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal3 {
  display: none;
  position: sticky;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content3 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 100%;
}

/* Hide the slides by default */
.mySlides3 {
  display: none;
}

/* Caption text */
.caption-container3 {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo3 {
  opacity: 0.6;
}

.active3,
.demo3:hover {
  opacity: 1;
}

/*GAME PLAY IT*/

#playButton {
  background-color: white;
  color: #bcbcbc;
  border: solid;
  border-color: #bcbcbc;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-family: Comic Sans MS;
  transition-duration: 0.4s;
}

#playButton:hover {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  color: white;
}

/* ////////////////////////////////////////////
                WEB DESIGN PORTFOLIO
   ///////////////////////////////////////////// */
.webFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
}

.webFlex h4 {
  color: #efefef;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 16px 36px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}

.cardImg {
  display: block;
  width: 100%;
  height: auto;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 8px;
  background-color: #555555;
}
