@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/backgrounds/about_gallery.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  margin: 1rem;
  text-decoration: underline;

  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;

  font-family: 'Comfortaa', cursive;
}

/* ////////// ABOUT ME TEXT ///////////////////// */

.about{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:flex-start;

  margin:1%;
}

.aboutText,
.aboutData{
  background: whitesmoke;
  height: auto;
  width:30%;
  height: 70vh;
  border: 4px gray solid;
  border-radius: 10px;
  
  padding: 1rem;
  
  font-size: 1.1rem;
  font-family: monospace;
  overflow-y: scroll;
}

.aboutData{
  line-height: 1.2rem;
  padding: 1.2rem;
}

.data span{
  font-weight: 700;
}

.aboutText p{
  padding: 1rem 2rem;
}

.skillsSoft,
.skillsDesign{
 padding:8px 0;
}

hr{
  margin:0 2rem;
}

h2{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding: 1rem;
}

 ul li{
   list-style: none;
 }

                                               /* ------------------------------------------------- */
                                                                /* MEDIA QUERY */
                                              /* ------------------------------------------------- */


  @media only screen and (max-width: 1900px){
    .aboutText,
    .aboutData{
      overflow-y: scroll;
    }
  }

  @media only screen and (max-width: 1030px){
    .aboutData{
      width:40%;
    }
  }