@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/backgrounds/Interior_BG_Gallery_ABOUTME.png"), url("../img/backgrounds/Interior_BG_LOW_Gallery_ABOUTME.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  margin: 1rem;
  text-decoration: underline;

  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;

  font-family: 'Comfortaa', cursive;
}

/* ////////// ABOUT ME TEXT ///////////////////// */

.about{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:flex-start;

}

.aboutText,
.aboutData,
.resume{
  background:rgba(1, 1, 1,.75);
  height: 70vh;
  width:30%;
  border: 1px whitesmoke solid;
    
  padding: 1rem;
  
  font-size: 1.1rem;
  font-family: monospace;
  text-align: justify;
  color: rgb(230, 230, 230);
  overflow-y: scroll;
}

.resume{
  display: block;
  margin: auto;
  height: 5vh;
  overflow: hidden;
  text-align: center;

  position: absolute;
  top: 70%;
  left: 35%;

}

.cvLink{
  color: lightyellow;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;

}

.aboutData{
  line-height: 1.2rem;
  padding: 1.2rem;
}

.data{
  padding: 0 1rem;
}

.data span{
  font-weight: 700;
  padding: 0 4px;
}

.aboutText p{
  padding: 1rem 2rem;
}

.skillsSoft,
.skillsDesign{
 padding:8px 0;
}

hr{
  margin:0 2rem;
}

h2{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding: 1rem;
}

ul{
  padding: 4px;
}

 ul li{
   list-style: none;
 }

                                               /* ------------------------------------------------- */
                                                                /* MEDIA QUERY */
                                              /* ------------------------------------------------- */


  @media only screen and (max-width: 1900px){
    .aboutText,
    .aboutData{
      overflow-y: scroll;
    }
  }

  @media only screen and (max-width: 1030px){
    .aboutData{
      width:40%;
    }
  }