@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/backgrounds/PC_Screens_Contact.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  margin: 1rem;
  text-decoration: underline;

  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;

  font-family: 'Comfortaa', cursive;
}



.contacts{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  color:#111;
}

.email{
  position: absolute;;
  top:45%;
  left:25%;
  transform: rotateZ(2deg);

  font-size:1.6rem;
  color: rgba(17, 17, 17, 0.6);
}

.socials{
  position: absolute;;
  top:35%;
  right:33%;
  transform: rotateZ(1deg);

  font-size:1.4rem;
}

.socials li{
  list-style: none;
  padding: 4px;
  margin: 16px auto;
}

.socials a:hover{
    color:whitesmoke;
}

.socials a{
  color: rgba(17, 17, 17, 0.6);
  text-decoration: none;
}

.socials i{
  padding: 4px 6px;
}