@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/backgrounds/Interior_BG_PC_CONTACT.png");
  background-color: #111;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  margin: 1rem;
  text-decoration: underline;

  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 4px;

  font-family: 'Comfortaa', cursive;
}



.contacts{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  color:#111;
}

.envelope{
  position: absolute;
  top:40%;
  left:28%;
  transform: rotateZ(.5deg);

  font-size:6rem;
  color: rgba(17, 17, 17, 0.6);
}

.mailBtn:hover{
  color: whitesmoke;
  cursor: pointer;
}

.socials{
  position: absolute;;
  top:35%;
  right:33%;
  transform: rotateZ(1deg);

  font-size:1.4rem;
}

.socials li{
  list-style: none;
  padding: 4px;
  margin: 16px auto;
}

.socials a:hover{
    color:whitesmoke;
}

.socials a{
  color: rgba(17, 17, 17, 0.6);
  text-decoration: none;
}

.socials i{
  padding: 4px 6px;
}

/* MODAL */

.mailModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.mailModalContent{
  background:#111;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid whitesmoke;
  width: 80%;
  color: whitesmoke;
}

.mailClose{
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}

.mailClose:hover,
.mailClose:focus{
  color:whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

/* Mail Formular */
#feedback-page{
	text-align:center;
}

#form-main{
	display: block;
  margin: 0 auto;
  width: 80%;
}

/* #form-div {
	background-color:rgba(72,72,72);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
} */

.feedback-input {
	color:whitesmoke;
	font-family: 'Comfortaa', cursive;
  font-weight:100;
	font-size: 1.2rem;
	background-color:rgba(1, 1, 1);
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
  border: 1px solid whitesmoke;
}

.feedback-input:focus{
	background-color:rgba(10, 10, 10);
	box-shadow: 0;
	border: 2px solid whitesmoke;
  outline: none;
	color: whitesmoke;
  padding: 13px 13px 13px 54px;
}

.focused{
	border:#111 solid 2px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: #2d2d2d;
}

#submit-button{
	font-family: 'Comfortaa', cursive;
  letter-spacing: 4px;
	float:left;
	width: 100%;
	border: whitesmoke solid 1px;
	cursor:pointer;
	background-color: #111;
	color:whitesmoke;
	font-size:2rem;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#submit-button:hover{
	/* background-color: rgba(0,0,0,0);
	color: #111;
  text-shadow: 1px 1px 1px whitesmoke; */

  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow: 
    -1px -1px 1px #111, 
    2px 2px 1px #363636;
}
	
/* .submit:hover {
	color: #3498db;
} */
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #202020;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:#202020;
}


                                               /* ------------------------------------------------- */
                                                                /* MEDIA QUERY */
                                              /* ------------------------------------------------- */

      @media only screen and (max-width: 1200px){
        .envelope{
          left:5%;
        }
    }

      @media only screen and (max-width: 900px){
        .envelope{
          left:2%;
          font-size: 1.4rem;
        }

        .socials{
            right:5%;
        }
    }


    @media only screen and (max-width: 700px){
      .email{
        left:.5%;
        font-size: 1.2rem;
      }
  }

  @media only screen and (max-width: 550px){
    .email{
      left:0;
      font-size: 1rem;
    }
}