header .navigation {
  /* align */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  /* spacing */
  padding: 16px;

  /* coloring */
  border-bottom: 2px solid whitesmoke;
  box-shadow: 0 0 64px rgb(228, 228, 228) inset;
  background: rgba(180, 180, 180, 0.5);
}

.logo {
  display: block;
  width: 5%;
  padding: auto;
}

.navigation a {
  /* spacing */
  padding: 2px 16px;

  /* color & effect */
  color: white;
  text-decoration: none;

  /* font */
  font-size: 24px;
  font-family: "Roboto Mono", Arial, monospace;
  font-weight: 100;
}

.navigation a:after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: rgb(255, 255, 255);
  transition: width 0.2s ease;
}

.navigation a:hover::after {
  width: 100%;
  left: 0;
  background: rgb(255, 255, 255);
}
