/* AFFECTS EVERY PAGE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* Image exhange with screenshots from interior project */
  background-image: url("https://evermotion.org/files/publications_images/AI_vol6_01_02.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
}

/* AFFECTS ONLY LANDING PAGE - work with classes from here on*/
