/*/////////////////////////
      PAGE LAYOUT 
/////////////////////////*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/backgrounds/TV_Portfolio.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
}


main{

  font-family: monospace;
}

/* /////////////////////////////////////////////////////////// */


.content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;

  margin:4rem;
}

.galleries{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.g-navigation{
  text-align: center;
  font-size: 1rem;
  color: #111;

  margin-top:1rem;
  padding: 8px;
  width:200px;

  background: rgba(255, 255, 255, 0.8);
  border:4px whitesmoke solid;
  border-radius: 10px;
}

.navigation div{
  padding: 1rem;
}

li{
  list-style: none;
  padding: .5rem;
  line-height: 36px;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
}

                                  /* ////////////////////////// 
                                  ACTIVE & NON-ACTIVE CAROUSELS
                                  ///////////////////////// */


.c-active{
  display: block;
}

.c-disabled{
  display: none;
}



                                      /* ////////////////// 
                                          SET CAROUSEL 01
                                      /////////////////// */


/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper-1{
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* -- Slides info text --  */

.carousel-wrapper-1 p{
  display: block;
  margin:auto;
  width:50%;

  background:whitesmoke;
  border-radius: 10px;
  text-align: center;

  border:2px red solid;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper-1 * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel-1 {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__01 {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__01.initial,
.carousel__01.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__01.prev,
.carousel__01.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__01.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__01.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel-1__button--prev,
.carousel-1__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border:1px solid black;
/*  opacity: 0;  Hide buttons until carousel is initialised 
  transition:opacity 1s;*/
}

.carousel-1__button--prev {
  left:0;
}

.carousel-1__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel-1__button--prev::after,
.carousel-1__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-1__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

                                       /* ////////////////// 
                                          SET CAROUSEL 02
                                      /////////////////// */


/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper-2 {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* -- Slides info text --  */

.carousel-wrapper-2 p{
  display: block;
  margin:auto;
  width:50%;

  background:whitesmoke;
  border-radius: 10px;
  text-align: center;


  border:2px orange solid;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper-2 * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel-2 {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__02 {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__02.initial,
.carousel__02.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__02.prev,
.carousel__02.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__02.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__02.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel-2__button--prev,
.carousel-2__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border:1px solid black;
}

.carousel-2__button--prev {
  left:0;
}

.carousel-2__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel-2__button--prev::after,
.carousel-2__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-2__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


                                     /* ////////////////// 
                                          SET CAROUSEL 03
                                      /////////////////// */


/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper-3 {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* -- Slides info text --  */

.carousel-wrapper-3 p{
  display: block;
  margin:auto;
  width:50%;

  background:whitesmoke;
  border-radius: 10px;
  text-align: center;


  border:2px blue solid;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper-3 * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel-3 {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__03 {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__03.initial,
.carousel__03.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__03.prev,
.carousel__03.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__03.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__03.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel-3__button--prev,
.carousel-3__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border:1px solid black;
}

.carousel-3__button--prev {
  left:0;
}

.carousel-3__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel-3__button--prev::after,
.carousel-3__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-3__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* /////////////////////////////////////////////////
                  WEB GALLERY
//////////////////////////////////////////////////*/

.web_01 img,
.web_02 img,
.web_03 img{
  display: block;
  width:60%;
  margin: auto;

  padding: 1rem;
}

.web_01 p,
.web_02 p,
.web_03 p{
  display: block;
  margin:auto;
  width:50%;

  background:whitesmoke;
  border-radius: 10px;
  text-align: center;
}

.web_01 p{
  border:2px darkred solid;
}

.web_02 p{
  border:2px dimgray solid;
}

.web_03 p{
  border:2px darkgrey solid;
}