//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 450px;


@mixin title {
    font-family: var(--font-comfortaa);
    font-weight: 400;
    font-size: var(--size-h3);

    text-align: center;
    letter-spacing: 2px;
    color: var(--c-light);
    
    padding: 1rem;

    @media screen and (max-width: $media-mobile) {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@mixin holo_bg{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    opacity: 0.25;
    //background: linear-gradient(to top, var(--c-purple), transparent);
    background-size: 10%;
    filter: saturate(200%);
}


        #about{

                padding-top: 6rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                
                display: flex;
                flex-flow: column nowrap;
                /* align-items: center;
                justify-content: center; */
                               
                position: relative;
                margin-bottom: 70em;

                @media screen and (max-width: $media-tablet) {
                        margin-bottom: 90em;
                }
                         

                @media screen and (max-width: $media-mobile) {
                    gap:0;
                    justify-content: flex-start;
                    margin-bottom: 60em;
                }

                .mask{
                    overflow: hidden;
                }

                .title{
                    //color: var(--c-orange);
                    color: var(--c-light);
                    text-shadow: 0 0 4px rgba($color: #f2f2f2, $alpha: 0.5);
                    text-transform: uppercase;
                    font-size: var(--size-h2);
                    font-family: var(--font-comfortaa);
                    font-weight: 300;
                    margin-left: 2.5em;
                    position: relative;

                    &::after{
                        position: absolute;
                        bottom: 1%;
                        left: 0;
                        content: '';
                        height: 1px;
                        width: 50vw;
                        //background-color: var(--c-orange);
                        background-color: var(--c-light);
                    }
                    
                 
                    @media screen and (max-width: $media-tablet) {
                        font-size: 1.5rem;
                        font-weight: 300;
                        margin-left: 2em;
                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: 1.2rem;
                        padding: 0.5rem;
                        margin-left: 0.12em;
                        margin-bottom: 1em;
                    }
                }
            }

            .about{
        
            &__container{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                margin: auto;
                margin-top: 5%;
                width: 80%;

                @media screen and (max-width: $media-tablet) {
                    width: 100%;
                }
                
                
                @media screen and (max-width: $media-mobile) {
                    margin: auto;
                }
            }

            &__intro{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1rem;
                width: auto;
                overflow: hidden;

                box-shadow: 0 -6px 4px var(--c-light);
                border-radius: 1rem;
                background: linear-gradient(to bottom, var(--c-dark-transparent-50), transparent);
                             
                @media screen and (max-width: $media-laptop) {
                    width: 90%;
                }

                @media screen and (max-width: $media-mobile) {
                    flex-direction: column-reverse;
                    justify-items: center;
                    align-items: center;
                }

            }

            &__career{
                width: 100%;
                margin-bottom: 6rem;
                padding: 1rem;
                padding-bottom: 2em;

                overflow: hidden;
                                            
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                box-shadow: 0 6px 4px var(--c-light);
                border-radius: 1rem;
                background: linear-gradient(to top, var(--c-dark-transparent-50), transparent);


                @media screen and (max-width: $media-laptop) {
                    width: 90%;
                }

                
                @media screen and (max-width: $media-mobile) {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
   
                    width: 90%;
                    height: fit-content;
                }


                &::after{
                    @include holo_bg();
                    border-radius: 0 0 1em 1em;

                    @media screen and (max-width: $media-tablet) {
                        border-radius: 1em;
                        background: linear-gradient(to top, var(--c-purple), var(--c-blue));
                    }
                }

                
                &-tree{
                    padding: 0 4rem;      
                    color: var(--c-light);                    
                    font-family: var(--font-poppins);
                    margin: auto;

                    display: flex;
                    flex-flow: column-reverse nowrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 1rem;  
                    
                    /* @media screen and (max-width: $media-laptop) {
                        padding: 5rem;
                        justify-content: flex-start;
                    } */

                    @media screen and (max-width: $media-tablet) {
                        padding: 0.8rem 1rem;
                        letter-spacing: 3px;
                    }

                    @media screen and (max-width: $media-mobile) {
                        padding: 0.8rem 0.5rem;
                        align-items: center;                        
                    }

                    .career__date{
                        font-weight: 600;
                        width: 50%;

                        @media screen and (max-width: $media-mobile) {
                            font-size: 0.8rem; 
                            width: 100%;                    
                        }
                    }
                    
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        width: 720px;                     
                        list-style: none;
                        padding: 0.5rem;
                        
                        font-family: var(--font-space);
                        font-size: 1.2rem;

                        @media screen and (max-width: $media-laptop) {
                            width: 60vw;
                        }                    
                        
                        @media screen and (max-width: $media-tablet) {
                            flex-flow: column nowrap;
                            padding: 0.5rem;
                            width: 100%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            width: 100%;                  
                        }

                        
                        p{
                            padding: 0.25rem;
                            line-height: 150%;
                            width: 100%;
                            

                            @media screen and (max-width: $media-tablet) {
                                text-align: left;
                                width: 90%;
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: 0.9rem;
                            }
                        }
                        
                        @media screen and (max-width: $media-mobile) {
                            font-size: 1rem;
                        }

                    }


                }
                

                h3{
                    @include title();
                    //text-shadow: 1px 1px 4px var(--text-dark);
                    margin-top: 2rem;

                    @media screen and (max-width: $media-tablet) {
                        font-weight: 600;
                        font-size: var(--size-h2);
                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: 0.9rem;                     
                    }
                }
            }

            &__toolbox{

                &.auto{

                    .tool__carousel{

                        overflow: hidden;

                        @media screen and (max-width: $media-tablet) {
                            overflow: auto;
                        }

                        &.primary{
                            animation: primaryScroll 16s linear infinite;

                            @media screen and (max-width: $media-tablet) {
                                animation: none;
                            }
                        }

                        &.secondary{
                            animation: secondaryScroll 16s linear infinite;

                            @media screen and (max-width: $media-tablet) {
                                animation: none;
                                display: none;
                            }
                        }
                    }

                }
               
                               
                h3{
                    @include title();
                    text-transform: uppercase;
                    font-weight: 300;
                    color: var(--c-light);
                    text-shadow: 0 0 4px rgba($color: #f2f2f2, $alpha: 0.5);
                    position: relative;

                    &::after{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        content: '';
                        height: 1px;
                        width: 24vw;
                        background-color: var(--c-light);
                        transform: translate(-50%,-50%);
                    }
                }

                .wrapper{
                    position: relative;
                    width: 200vw;
                    height: 16em;
                    overflow-x: hidden;

                    @media screen and (max-width: $media-tablet) {
                        height: 8em;
                        width: 100vw;
                    }

                    &:hover{
                        overflow-x: auto;
                        width: 100vw;
                    }
                }

                .tool{

                    list-style: none;
                    color: var(--c-light);
                    font-family: var(--font-space);
                    font-size: 1.6rem;
                    padding: 0.8em 1.5em;
                    white-space: nowrap;
                    //background: linear-gradient(90deg, transparent, var(--c-blue), transparent);
                    background: rgba($color: #f2f2f2, $alpha: 0.1);
                    backdrop-filter: blur(8px);
                    border: 1px solid var(--c-light);
                    border-radius: 4em;
                    user-select: none;

                    @media screen and (max-width: $media-tablet) {
                        font-size: 1.2rem;
                        margin-left: 1em;
                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: 1rem;
                        margin-left: 2em;
                    }
           

                    &__carousel{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10em;

                        overflow-x: scroll;
                      
                        margin: 0 auto;
                                                
                        width: inherit;
                        height: inherit;
                        position: absolute;
                        left: 0;
                        top: 0; 
                        
                        &::-webkit-scrollbar{
                            background-color: var(--c-dark-transparent-25);
                            height: 4px;
                        }
                        
                        &::-webkit-scrollbar-thumb{
                            background-color: var(--c-light);
                            border-radius: 0.25em;
                        }

                        @media screen and (max-width: $media-tablet) {
                            gap: 5em;
                        }

                        @media screen and (max-width: $media-mobile) {
                            gap: 1em;
                        }
                    }

                }

            }

                    
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8rem;

                //border: thin solid var(--c-light);
                margin-top: 0;
                padding: 2rem;
                width: 100%;

                font-size: var(--size-p);
                line-height: 145%;
                text-align: left;
        
                color: var(--c-light);
                position: relative;

                &::after{
                    @include holo_bg();
                    //background: linear-gradient(to bottom, var(--c-purple), transparent);
                    background-size: 10%;
                    border-radius: 1em 1em 0 0;

                    @media screen and (max-width: $media-tablet) {
                        border-radius: 1em;
                        background: linear-gradient(to bottom, var(--c-purple), var(--c-blue));
                    }
                }               


                /* @media screen and (max-width: $media-laptop) {
                    align-items: flex-start;
                } */

                @media screen and (max-width: $media-tablet) {
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    gap:0;
                    height: auto; 
                    margin-bottom: 4em;              
                }

             
                @media screen and (max-width: $media-mobile) {
                    align-items: center;
                    width: 100%;
                    line-height: 145%;
                    overflow: hidden;
                    padding: 1.5em;
                    height: fit-content;
                    margin-bottom: 2em;
                }
        
                .about{
                    &__title{
                        @include title();
                        

                        @media screen and (max-width: $media-laptop) {
                            font-size: var(--size-h2);
                            line-height: 110%;
                        }

                        @media screen and (max-width: $media-tablet) {
                            font-size: 1.2rem;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }
        
                    &__description{
                        font-family: var(--font-poppins);
                        font-size: 1.1rem;                        
                        padding: 1.5rem 0.25rem;
                        margin: auto;
                        width: 55%;
                        line-height: 145%;
                        letter-spacing: 2px;

                        @media screen and (max-width: $media-laptop) {
                            width: 90%;
                        }
                        
                        @media screen and (max-width: $media-mobile) {
                            font-size: 12px;
                            padding: 0;
                            padding-top: 0.5rem;
                            width: 100%;
                            line-height: 150%;
                            letter-spacing: 1px;
                            word-wrap: normal;
                            text-align: left;
                        }
                    }
        
        
                }
            }
        
        
            &__image{

                &-portrait{
                    max-height: 1956px;
                    max-width: 1720px;
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                    transform: translateX(50%);              

                    border: thin solid var(--c-light);
                    box-shadow: 4px 4px 3px var(--c-dark-transparent-50);

                    //tablet mode
                    /* @media screen and (max-width: $media-laptop) {
                        margin-top: 7rem;
                        width: 150%;
                        height: 150%;
                        transform: translateX(0);
                    } */

                    @media screen and (max-width: $media-tablet) {
                        width: 18vw;
                        height: 16vh;
                        object-fit: cover;
                        margin-top: 0;
                    }

                    @media screen and (max-width: $media-mobile) {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;      
                    }
                }
                    
            }
        
        
        
        }

        @keyframes primaryScroll {
            from{left: 0;}
            to{left: -100%;}
        }

        @keyframes secondaryScroll {
            from{left: 100%;}
            to{left: 0%;}
        }

    //}
//}


