//media variables
$media-tablet-wide: 1024px;
$media-tablet: 950px;
$media-mobile-wide: 900px;
$media-mobile: 600px;

@mixin title {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: var(--size-h3);

    text-align: center;
    letter-spacing: 2px;
    color: var(--text-light);

    padding: 1rem;

    @media screen and (max-width: $media-mobile) {
        font-size: 1rem;
        padding: 0.5rem;
    }
}



//.page{
    //&__about{

        /*
        overflow-x: hidden;
        width: 90%;
        margin: 0 auto; */


        #about{

                padding-top: 6rem;
                background-image: url("../../img/backgrounds/bg_about_AI.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                gap: 4rem;

                @media screen and (max-width: $media-mobile) {
                    gap:0;
                }

                .title{
                    color: var(--text-light);
                    text-align: center;
                    text-transform: uppercase;
                    font-size: var(--size-h2);
                    font-family: var(--font-poppins);
                    font-weight: 200;

                    @media screen and (max-width: $media-mobile-wide) {
                        font-size: 20px;
                        padding-bottom: 2rem;
                    }
                }
            }

            .about{
        
            &__container{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                margin: auto;
                margin-left: 20%;
                margin-right: 10%;

                
                @media screen and (max-width: $media-mobile) {
                    margin: auto;
                    margin-left: 0;
                }
            }

            &__intro{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1rem;
                width: 100%;

                @media screen and (max-width: $media-mobile) {
                    flex-direction: column-reverse;
                    justify-items: center;
                    align-items: center;
                }

                &-text{
                    
                    text-wrap: pretty;
                    
                }
            }

            &__career{
                width: 100%;
                margin: 1rem auto;
                margin-bottom: 6rem;
                padding: 1rem;
                background-color: var(--bg-dark-transparent);
                border: thin solid var(--bg-light);

                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: $media-mobile) {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
   
                    width: 70%;
                    height: fit-content;
                }

                
                &-tree{
                    padding: 2rem 4rem;      
                    color: var(--text-light);                    
                    font-family: var(--font-hepta);
                    margin: auto;

                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 2rem;

                  

                    @media screen and (max-width: $media-tablet) {
                        padding: 0.8rem 1rem;
                        letter-spacing: 3px;
                    }

                    .career__date{
                        font-weight: 600;
                    }
                    
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        width: 720px;                     
                        list-style: none;
                        padding: 0.5rem;
                        
                        font-family: var(--font-space-mono);
                        font-size: var(--size-p);
                    
                        
                        @media screen and (max-width: $media-tablet) {
                            flex-flow: column nowrap;
                            padding: 0.5rem;
                            width: 110%;
                        }

                        
                        p{
                            padding: 0.25rem;
                            line-height: 150%;
                            width: 100%;
                            

                            @media screen and (max-width: $media-tablet) {
                                text-align: center;
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: 0.9rem;
                            }
                        }
                        
                        @media screen and (max-width: $media-mobile) {
                            font-size: 1rem;
                        }

                    }


                }
                

                h3{
                    @include title();
                    text-shadow: 1px 1px 4px var(--text-dark);
                    text-transform: uppercase;
                    margin-top: 2rem;
                }
            }

            &__skill-tree{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                @media screen and (max-width: $media-tablet-wide) {
                    flex-flow: row nowrap;
                    justify-content: center;
                    gap: 0.5rem;

                    @media screen and (max-width: $media-mobile) {
                        gap:0;
                    }
                }

                ol{
                    margin: 2rem;

                    @media screen and (max-width: $media-mobile) {
                        margin: auto;
                    }
                }

                li{
                    display: inline;
                    list-style: none;
                    padding: 1rem;
                    margin: 0.5rem;

                    color: var(--text-light);
                    font-family: var(--font-hepta);
                    font-weight: 500;
                    font-size: 1.5rem;
                    text-shadow: 0 0 4px var(--bg-dark);
                    

                    @media screen and (max-width: $media-tablet-wide) {
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        margin: 0.25rem;
                    }


                    @media screen and (max-width: $media-mobile) {
                        font-size: 0.8rem;
                    }

                    i{
                        padding: 0 .5rem;
                        font-size: 2rem;

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        
            &__text{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8rem;

                background-color: var(--bg-dark);
                border: thin solid var(--bg-light);
                margin-top: 0;
                padding: 2rem;
                width: 100%;

                font-size: var(--size-p);
                line-height: 145%;
                hyphens: auto;
                text-align: justify;
        
                color: var(--text-light);

                @media screen and (max-width: $media-tablet-wide) {
                    align-items: flex-start;
                }

                @media screen and (max-width: $media-tablet) {
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    gap:0;
                    height: 50vh;
                    overflow: scroll;

                    &::-webkit-scrollbar{
                        width: 3px;
                    }

                    &::-webkit-scrollbar-thumb{
                        background-color: var(--bg-light);
                    }
                    
                }

                @media screen and (max-width: $media-mobile-wide) {
                    align-items: center;
                }

                @media screen and (max-width: $media-mobile) {
                    align-items: center;
                    width: 70%;
                    height: 480px;
                    overflow-y: scroll;
                }
        
                .about{
                    &__title{
                        @include title();

                        @media screen and (max-width: $media-tablet-wide) {
                            font-size: var(--size-h4);
                            line-height: 110%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1rem;
                        }
                    }
        
                    &__description{
                        font-family: var(--font-hepta);                        
                        padding: 1rem 0.25rem;
                        margin: auto;
                        width: 60%;
                        text-wrap: wrap;
                        line-height: 145%;
                        letter-spacing: 2px;
                        
                        @media screen and (max-width: $media-mobile) {
                            font-size: 0.9rem;
                            padding: 0;
                            padding-top: 0.5rem;
                        }
                    }
        
        
                }
            }
        
        
            &__image{

                &-portrait{
                    max-height: 1956px;
                    max-width: 1720px;
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                    transform: translateX(50%);              

                    border: thin solid var(--bg-light);
                    box-shadow: 4px 4px 3px var(--bg-dark-transparent);

                    //tablet mode
                    @media screen and (max-width: $media-tablet-wide) {
                        margin-top: 7rem;
                        width: 150%;
                        height: 150%;
                        transform: translateX(0);
                    }

                    @media screen and (max-width: $media-tablet) {
                        width: 18vw;
                        height: 16vh;
                        object-fit: cover;
                        margin-top: 0;
                    }

                    @media screen and (max-width: $media-mobile-wide) {
                        width: 15vw;
                        height: 30vh;
                    }

                    @media screen and (max-width: $media-mobile) {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;      
                    }
                }
        
                /* .about__cv{
                    margin: 1rem;
                    padding: 1rem;
                    background-color: var(--bg-dark);
                    border: thin solid var(--bg-light);
        
                    a{
                        text-decoration: none;
                        font-family: var(--font-space-mono);
                        font-weight: 600;
                        color: var(--text-light);
                        letter-spacing: 2px;
        
                        &:hover{
                            text-decoration: underline;
                        }
                    }
            
                } */
            
            }
        
        
        
        }

    //}
//}


