//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 480px;


@mixin title {
    font-family: var(--font-noto);
    font-weight: 400;
    font-size: var(--size-h3);

    text-align: center;
    letter-spacing: 2px;
    color: var(--c-light);
    
    padding: 1rem;

    @media screen and (max-width: $media-mobile) {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@mixin holo_bg{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    opacity: 0.25;
    //background: linear-gradient(to top, var(--c-purple), transparent);
    background-size: 10%;
    filter: saturate(200%);
}


        #about{

                padding-top: 6rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                
                display: flex;
                flex-flow: column nowrap;
                                
                position: relative;
                margin-bottom: 56em;

                @media screen and (max-width: $media-tablet) {
                    margin-bottom: 90em;
                }
                         

                @media screen and (max-width: $media-mobile) {
                    gap:0;
                    justify-content: flex-start;
                    margin-bottom: 80em;
                }

                .mask{
                    overflow: hidden;
                }

                .title{
                    color: var(--c-dark);
                    text-transform: uppercase;
                    font-size: var(--size-96);
                    font-family: var(--font-noto);
                    font-weight: 900;
                    
                    -webkit-text-stroke: 2px var(--c-light);
                                      
                 
                    @media screen and (max-width: $media-tablet) {
                        font-size: var(--size-56);
                    }

                    @media screen and (max-width: $media-mobile) {
                        -webkit-text-stroke: 1px var(--c-light);
                        font-size: var(--size-48);
                        padding: 0.5rem;
                        margin-bottom: 1em;
                    }
                }
            }

            .about{
        
            &__container{
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: center;
                

                margin: auto var(--size-80);
                margin-top: 5%;
                margin-left: 0;
                width: auto;
         
                @media screen and (max-width: $media-tablet) {
                }                
                
                @media screen and (max-width: $media-mobile) {
                    margin: 0;
                    scale: 0.9;
                }
            }

            &__intro{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: auto;
                padding: var(--size-72);
                overflow: hidden;

                box-shadow: 2px 8px 0 6px var(--c-highlight);
                border-top: 1px solid var(--c-highlight);
                border-radius: 1rem;
                background-color: var(--c-dark);
                             
                @media screen and (max-width: $media-tablet) {
                    padding: var(--size-24);
                }

                @media screen and (max-width: $media-mobile) {
                    padding: var(--size-16);
                    justify-items: center;
                    align-items: center;
                }

                .download__cv{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--size-16);

                    width: 80%;
                    margin: auto;
                    padding: var(--size-16) 0;
                    border-radius: var(--size-80);
                    border: 1px solid var(--c-light);

                    font-family: var(--font-noto);
                    font-size: var(--size-32);
                    font-weight: 700;
                    text-transform: capitalize;

                    background-color: var(--c-dark);
                    color: var(--c-light);

                    @media screen and (max-width: $media-tablet) {
                        font-size: var(--size-24);
                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: var(--size-16);
                    }

                    &:hover{
                        background-color: var(--c-light-transparent-10);
                    }

                    i,svg{
                        scale: 1.5;

                        @media screen and (max-width: $media-tablet) {
                            scale: 1;
                        }
                    }

                    
                }

            }


            &__toolbox{

                margin-top: var(--size-72);   
                               
                h3{
                    justify-self: flex-start;
                    width: 90vw;

                    font-size: var(--size-48);
                    font-family: var(--font-noto);
                    text-transform: uppercase;
                    font-weight: 400;
                    color: var(--c-highlight);
                }

                .tools{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    gap: var(--size-48);
                    
                    width: 100%;
                    margin-top: var(--size-32);
                    cursor: none;

                    @media screen and (max-width: $media-tablet) {
                        flex-direction: row;
                        gap: var(--size-16);
                        align-items: flex-start;
                     }

                }

                .first_row,
                .second_row{
                    list-style: none;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: var(--size-48);
                    width: 100%;

                    @media screen and (max-width: $media-tablet) {
                        flex-direction: column;
                    }

                .tool{

                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    gap: var(--size-16);

                    width: 100%;
                    height: auto;
                    padding: var(--size-8);

                    position: relative;
                 
                    &:hover{
                        outline: 2px solid var(--c-highlight);
                        border-radius: var(--size-80);
                        

                       a{
                            color: var(--c-highlight);
                            cursor: none;
                        }
                        
                    }
                    
                    i{
                        width: 100%;
                        height: auto;
                    }

                    a{
                        color: var(--c-light);
                        text-decoration: none;
                        font-size: var(--size-32);
                        font-family: var(--font-comfortaa);
                        font-weight: 700;
                        text-align: center;
                        width:100%;
                        text-wrap: wrap;

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-16);
                        }
                                              

                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            
                            //background-color: red;

                            &:hover .tool{
                                border: 2px solid var(--c-light);
                                border-radius: var(--size-80);
                            }

                        }
                    }

                    @media screen and (max-width: $media-tablet) {
                        
                    }

                    @media screen and (max-width: $media-mobile) {
                        
                    }
           

                    }
                }

                
            }

                    
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
               
                padding: 2em 10em;
                width: 100%;

                font-size: var(--size-p);
                line-height: 145%;
                text-align: left;
        
                color: var(--c-light);
                position: relative;


                @media screen and (max-width: $media-tablet) {
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    gap:0;
                    height: auto; 
                    margin-bottom: 4em; 
                    padding: var(--size-16);             
                }

             
                @media screen and (max-width: $media-mobile) {
                    align-items: center;
                    width: 100%;
                    line-height: 145%;
                    overflow: hidden;
                    padding: var(--size-8);
                    height: fit-content;
                    margin-bottom: 2em;
                }
        
                .about{
                    &__title{
                        //@include title();

                        font-family: var(--font-noto);
                        font-weight: 400;
                        font-size: var(--size-48);
                        text-transform: uppercase;
                        color: var(--c-highlight);
                                             

                        @media screen and (max-width: $media-laptop) {
                            font-size: var(--size-h2);
                            line-height: 110%;
                        }

                        @media screen and (max-width: $media-tablet) {
                            font-size: var(--size-32);
                            align-self: flex-start;
                            margin-bottom: var(--size-8);
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-24);
                            font-weight: 600;
                        }
                    }
        
                    &__description{
                        font-family: var(--font-comfortaa);
                        font-size: var(--size-32);
                        font-weight: 300;                        
                        padding: 1.5rem 0.25rem;
                        margin: auto;
                        width: 100%;
                        line-height: 140%;
                        
                        strong{
                            font-weight: 700;
                            -webkit-text-stroke: 1px var(--c-light);
                        }

                        @media screen and (max-width: $media-tablet) {
                            text-wrap: wrap;
                            font-size: var(--size-16);                            
                        }
                        
                        @media screen and (max-width: $media-mobile) {
                            padding: 0;
                            padding-top: 0.5rem;
                            width: 100%;
                            line-height: 150%;
                            letter-spacing: 1px;
                            word-wrap: normal;
                            text-align: left;
                        }
                    }
        
        
                }
            }
        
        
            &__image{

                &-portrait{
                    max-height: 1956px;
                    max-width: 1720px;
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                    transform: translateX(50%);              

                    border: thin solid var(--c-light);
                    box-shadow: 4px 4px 3px var(--c-dark-transparent-50);

                    //tablet mode
                    /* @media screen and (max-width: $media-laptop) {
                        margin-top: 7rem;
                        width: 150%;
                        height: 150%;
                        transform: translateX(0);
                    } */

                    @media screen and (max-width: $media-tablet) {
                        width: 18vw;
                        height: 16vh;
                        object-fit: cover;
                        margin-top: 0;
                    }

                    @media screen and (max-width: $media-mobile) {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;      
                    }
                }
                    
            }
        
        
        
        }

        @keyframes primaryScroll {
            from{left: 0;}
            to{left: -100%;}
        }

        @keyframes secondaryScroll {
            from{left: 100%;}
            to{left: 0%;}
        }

    //}
//}


