$color-lightgrey: #bbb;

.page{
    &__blog{

        overflow-x: hidden;
        
        /* Scroll button */
        .scroll__top{
            position: fixed;
            bottom: 2%;
            right: 2%;
            font-size: 2rem;
            text-decoration: none;
            color: var(--text-light);

            background-color: var(--bg-dark-transparent);
            padding: 0.25rem;
            outline: thin solid var(--text-light);
        }
        
        .scroll__top:hover{
            cursor: pointer;
        }

        .blog{

            &__main{
            display: flex;
            flex-flow: column nowrap;
            justify-items: flex-start;
            align-items: center;

            margin-left: 5%;

            @media screen and (max-width: 900px) {
                margin: auto;
            }

                 
            .blog__section{
                
                margin: auto;
                margin-left: 15%;
                margin-right: 12%;

                @media screen and (max-width: 900px) {
                    margin-left: 10%;
                    width: 80%;
                }

                @media screen and (max-width: 500px) {
                    scale: 0.8;
                    margin-left: 15%;
                    width: 95%;
                }
            } 

            
            
            .post{                
                    background-color: var(--bg-dark);
                    border: thin solid var(--text-light);

                    padding: 1rem;
                    margin: 1.5rem 0;

                    .fade-in{
                        opacity: 0;
                        transform: translateY(60%);
                        transition: all 0.5s ease-out;
        
                        &.active{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    h3{
                        color: var(--text-light);
                        font-family: var(--font-space-mono);
                    }

                    .date{
                        color: var(--text-light);
                        text-align: right;
                        font-family: var(--font-space-mono);
                        
                    }

                    .blog__article{

                        display: flex;
                        flex-flow: column wrap;
                        

                        h4,p{
                            color: var(--text-light);
                        }

                        h4{
                            font-family: var(--font-space-mono);
                            font-weight: 600;
                            letter-spacing: 3px;
                            text-align: center;
                            padding: .5rem;
                        }
                        
                        p{
                            font-family: var(--font-hepta);

                            margin: auto;
                            width: 70%;
                            padding: 1rem;

                            @media screen and (max-width: 500px) {
                                width: 100%;
                                line-height: 1.5rem;
                            }

                            a{
                                color: var(--text-link);
                            }
                        }

                
                           .blog__img{
                                
                                max-width: 720px;
                                max-height: 512px;
                                width: auto;
                                height: auto;
                                object-fit: cover;
                            

                                display: block;
                                margin: auto;
                                border: thin solid var(--text-light);
                                transition: all .3s ease;
                                cursor: pointer;

                                @media screen and (max-width: 900px) {
                                    max-width: calc(720px / 2);
                                    max-height: calc(512px / 2);
                                }

                                @media screen and (max-width: 500px) {
                                    max-width: calc(720px / 2.5);
                                    max-height: calc(512px / 2.5);
                                }
                            }

                    }

                    /// COMPARE IMAGES
                    ///
                    .compare__container{
                        margin:auto;
                        width: 642px; //image max width + border
                        border:1px solid whitesmoke;

                        @media screen and (max-width: 800px) {
                            display: none;
                        }
                        
                        .compare{
                            position: relative;
                            width: 640px;
                            height: 360px;

                                                    
    
                            .before{
                                position: relative;
                                top:0;
                                left: 0;
                                width: 640px;
                                height: 360px;
                                background-image: url("../../img/blog-imgs/compare_after.png");

    
                                .after{
                                    position: absolute;
                                    top:0;
                                    left:0;
                                    width: 50%;
                                    height: 360px;
                                    background-image: url("../../img/blog-imgs/compare_before.png");
                                    z-index: 2;
                                }
                            }
    
                            .slider{
                                position: absolute;
                                top:0;
                                left:0;
                                -webkit-appearance: none;
                                appearance: none;
                                z-index: 3;
                                width: 100%;
                                height: 100%;
                                background: transparent;
                                
                            }
                            
                            .slider::-webkit-slider-thumb{
                                appearance: none;
                                background-color: var(--bg-light);
                                border: thin solid var(--bg-dark);
                                height: 3rem;
                                width: 8px;
                                border-radius: .5rem;
                                position: relative;

                                &:hover{
                                    cursor: col-resize;
                                }
                            }

                                
    
    
                        }
                    }

                    //COMPARE MOBILE VERSION
                    .compare{
                        &__single-images{

                            display: none;

                            figcaption{
                                color: var(--text-light);
                                text-align: center;
                                padding: .5rem;

                                font-family: var(--font-hepta);
                                font-size: 0.8rem;
                                letter-spacing: 1px;
                            }

                            @media screen and (max-width: 800px) {
                                display: block;
                            }
                        }
                    }



                }

                /* MODAL WITH IMAGES */
                .modal{
                    position: fixed;
                    z-index: 999;
                    padding-top: 100px;
                    left: 0;
                    top:0;
                    width:100%;
                    height:100%;
                    /*   background-color: black; */
                    background-color: var(--bg-dark-transparent);
                    overflow-y: scroll;

                    &__content{
                        margin:auto;
                        display: block;
                        max-width: 60%;

                        @media screen and (max-width: 480px) {
                            max-width: 100%;
                        }
                    }

                    &__content, .caption{
                        animation-name: zoom;
                        animation-duration: .3s;
                    }

                    .caption{
                        margin:auto;
                        padding: 0.8rem 0;
                        display: block;

                        width:80%;
                        height: 150px;

                        max-width: 700px;
                        text-align: center;
                        color: var(--text-light);
                        font-family: var(--font-space-mono);
                        letter-spacing: 1px;
                    }

                    &.active{
                        display: block;
                    }

                    &.disabled{
                        display: none;
                    }

                    /* close button */
                    .close{
                        position: absolute;
                        top: 5%;
                        right: 8%;
                        padding: 4px 7px;

                        color: var(--text-light);
                        outline: 2px solid var(--bg-light);
                        border-radius: 50%;
                        font-size: 1.5rem;
                        font-weight: bold;
                        transition: all 0.3s ease;
                    }
                    
                    .close:hover,
                    .close:focus{
                        color: $color-lightgrey;
                        outline-color: $color-lightgrey;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

            }

        }
    }

    &__title{
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 4px var(--bg-dark);
        
        font-family: var(--font-poppins);
        font-size: 2.5rem;
        font-weight: 400;

        letter-spacing: 4px;
        color: var(--text-light);
    }
}

//Modal content animation
@keyframes zoom{
    from{
      transform:scale(0);
    }to{
      transform: scale(1);
    }
  }