//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 450px;


@mixin formInput{
    background-color: var(--c-dark);
    border: 1px solid var(--c-light);
    border-radius: var(--size-8);
    margin: 4px;
    padding: var(--size-16);
    width: 100%;

    color: var(--c-light);
    font-size: var(--size-24);
    font-family: var(--font-comfortaa);
    cursor: none;
}


//.page{

    //&__contact{

        //overflow: hidden;

        //.contact{

        #contact{

            height: auto;
            width: 100%;
                  
            margin: auto;
            margin-bottom: 10em;
            padding: var(--size-80) var(--size-16);

            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            //box-shadow: inset 40em 80em var(--c-dark-transparent-50);


            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            

            /* @media screen and (max-width: $media-mobile) {
                gap: var(--size-16);
            } */

                  
            
            .title{
                
                color: var(--c-dark);
                font-size: var(--size-96);
                font-family: var(--font-noto);
                font-weight: 900;
                text-transform: uppercase;

                align-self: flex-start;

                -webkit-text-stroke: 2px var(--c-light);
           
                @media screen and (max-width: $media-tablet) {
                    font-size: var(--size-64);
                }

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-48);
                }
            }
           
            .contacts{
                &__wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: var(--size-16);

                    position: relative;

                    height: auto;
                    width: 100%;
                    margin: auto;
                    
                    @media screen and (max-width: $media-tablet) {
                        gap: var(--size-8);
                    }

                    @media screen and (max-width: $media-mobile) {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        gap: 0;
                    }

                    .subtitle{
                        align-self: flex-start;

                        color: var(--c-highlight);
                        font-family: var(--font-noto);
                        font-size: var(--size-48);
                        font-weight: 300;
                        text-transform: uppercase;

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-24);
                            font-weight: 400;
                        }

                    }

                    h4{
                        text-transform: capitalize;
                        font-family: var(--font-space);
                        font-weight: 600;
                        font-size: var(--size-32);
                        letter-spacing: 1px;

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1.2rem;
                        }

                    }

                    
                    //the "or"
                    h5{
                        display: none;
                        color: var(--c-light);
                        font-family: var(--font-comfortaa);
                        font-size: var(--size-24);
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: var(--size-16);
                        margin-top: var(--size-16);

                        @media screen and (max-width: $media-mobile) {
                            display: block;
                        }
                    }

                }

                &__mail{

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: auto;
                padding: var(--size-72);
                overflow: hidden;

                box-shadow: 2px 8px 0 6px var(--c-highlight);
                border-top: 1px solid var(--c-highlight);
                border-radius: 1rem;
                background-color: var(--c-dark);

                    @media screen and (max-width: $media-tablet) {
                        padding: var(--size-16);
                        padding-top: var(--size-56);
                        margin-top: var(--size-16);
                    }

                }

                &__socials{

                    text-align: center;
                    color: var(--c-light);
                    position: relative;
                    margin-top: var(--size-32);
                    padding: var(--size-72);
                    padding-left: 0;
                    width: 100%;

                    @media screen and (max-width: $media-tablet) {
                        padding: var(--size-16);
                    }
                                           
                    .socials__title{
                        color: var(--c-highlight);
                        text-align: left;
                        text-transform: uppercase;
                        font-family: var(--font-noto);
                        font-size: var(--size-48);
                        font-weight: 300;

                        width: 100%;

                        @media screen and (max-width: $media-tablet) {                            
                            font-weight: 400;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-32);
                        }

                    }

                    /* div{
                        font-size: 1.5rem;
                        font-family: var(--font-space);

                        @media screen and (max-width: $media-mobile) {
                            
                        }
                    } */

                    ul{
                        padding-left: 0;
                        padding-right: var(--size-80);

                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-end;
                        justify-content: space-between;

                        @media screen and (max-width: $media-mobile) {
                            padding: 0;
                        }

                                              
                        li{
                            list-style: none;
                            font-size: 2.3rem;
                            font-family: var(--font-comfortaa);
                            
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: var(--size-16);
                                                        
                            padding: 1rem 0;
                            margin: 0.5rem;
                            transition: all 0.3s ease;
                            position: relative;

                            @media screen and (max-width: $media-mobile) {
                                gap:0;
                            }

                            &:hover{

                                cursor: none;
                                
                                a{                                   
                                    color: var(--c-highlight);
                                    
                                    cursor: none;
                                    
                                    @media screen and (max-width: $media-mobile) {
                                        animation: none;
                                    }
                                }

                                svg,
                                i{                             
                                    color: var(--c-highlight);                                    
                                                                        
                                    @media screen and (max-width: $media-mobile) {
                                        animation: none;
                                    }
                                }

                            }
                            
                            @media screen and (max-width: $media-tablet) {
                                padding: 0.5rem 0;
                                font-size: 2.4rem;
                            }
                            
                            
                        svg{
                            margin-right: 1em;
                            @media screen and (max-width: $media-mobile) {
                                margin-right: 0.5em;
                            }
                        } 
                        
                        i{
                            font-size: var(--size-64);

                            @media screen and (max-width: $media-tablet) {
                                font-size: var(--size-48);
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: var(--size-32);
                                margin-right: var(--size-16);
                            }
                        }
                        
                        a{
                            
                            text-decoration: none;
                            text-align: left;

                            color: var(--c-light);
                            font-size: var(--size-64);
                            font-family: var(--font-noto);
                            font-weight: 200;
                            letter-spacing: 2px;
                            //background-color: black;
                            mix-blend-mode: lighten;

                            &::after{
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;

                                //background-color: red;
                                border-radius: 0.5em;

                            }
                           

                            @media screen and (max-width: $media-tablet) {
                                font-size: 1.8rem;
                            }
                                                        
                            @media screen and (max-width: $media-mobile) {
                                color: var(--c-light);
                                font-size: var(--size-p);
                            }
                        }
                    }
                }
            }
        }


        .mailForm{

            width: 100%;
                       
                      
            form{
                width: 80vw;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: center;
                gap: var(--size-56);
                padding: 0 5%;

                @media screen and (max-width: $media-mobile) {
                    gap:var(--size-32)
                }

            }

            .input{

                @include formInput;

                @media screen and (max-width: $media-tablet) {
                    width: 100%;                    
                }

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-16);
                    padding: var(--size-8);
                    transform: translateX(-2%);
                }

                &:-moz-focusring,
                &:focus,
                &:not(:placeholder-shown){
                   border-color: var(--c-highlight);
                   background-color: rgba($color: #f2f2f2, $alpha: 0.1);
                }

          
                &:focus + label,
                &:not(:placeholder-shown) + label{
                   top: -32%;
                   left: 0;
                   border: 1px solid var(--c-highlight);
                   border-radius: var(--size-8);
                   font-size: var(--size-16);

                   @media screen and (max-width: $media-mobile) {
                        font-size: var(--size-8);
                    }
                }

                &__wrap{                    
                    position: relative;
                    width: 100%;
                                       
                    label{
                        position: absolute;
                        left: 1.5%;
                        top: 50%;
                        transform: translateY(-50%);

                        color: var(--c-light);
                        font-size: var(--size-24);
                        font-family: var(--font-comfortaa);
                        padding: var(--size-8);

                        transition: all 0.3s ease;

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-16);
                            padding: 4px;
                        }
                    }

                }
  
            }

            textarea{
                @include formInput;
                resize: vertical;
                height: 240px;
            }

            .submit{

                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--size-8);

                width: 80%;
                margin-top: var(--size-16);
                padding: var(--size-16) var(--size-32);

                border: 1px solid var(--c-light);
                border-radius: var(--size-80);
                background-color: var(--c-dark); 

                font-size: var(--size-32);
                font-family: var(--font-noto);
                color: var(--c-light); 

                cursor: none;

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-16);
                }

                
                &:hover{
                    cursor: none;
                    background-color: var(--c-light-transparent-10);
                }

                &:disabled{
                    opacity: 0.25;
                }

            }

            

            
        }



        @keyframes popIn {
            0%{
                scale: 0;
            }
            100%{
                scale: 1;
            }
        }

        @keyframes popOut {
            0%{
                scale: 1;
            }
            100%{
                scale: 0;
            }
        }



        @keyframes moveIn {
            0%{
                transform: translateY(200%);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes moveOut {
            0%{
                transform: translateY(0);
                opacity: 1;
            }
            100%{
                transform: translateY(200%);
                opacity: 0;
            }
        }

        @keyframes text-glitch {
            0% {
                text-shadow:2px 1px var(--c-blue), -2px -1px var(--c-purple);
              }
              25% {
                text-shadow: -1px -2px var(--c-blue), 2px 1px var(--c-purple);
              }
              50% {
                text-shadow:2px 1px var(--c-blue), -2px -1px var(--c-purple);
              }
              75% {
                text-shadow:-2px -1px var(--c-blue), -2px -1px var(--c-purple);
              }
              100% {
                text-shadow:2px 0 var(--c-blue), 2px -1px var(--c-purple);
              }
          }
          
        @keyframes icon-glitch {
            0% {
                filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px -1px var(--c-purple));
              }
              25% {
                filter: drop-shadow(-1px -2px var(--c-blue)) drop-shadow(2px 1px var(--c-purple));
              }
              50% {
                filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px 1px var(--c-purple));
              }
              75% {
                filter: drop-shadow(-2px -1px var(--c-blue)) drop-shadow(-2px -1px var(--c-purple));
              }
              100% {
                filter: drop-shadow(2px 0 var(--c-blue)) drop-shadow(2px -1px var(--c-purple));
              }
        }


    //}

    //}

    

}