//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 450px;


@mixin formInput{
    background-color: var(--c-dark);
    border: 1px solid var(--c-light);
    border-radius: var(--size-8);
    margin: 4px;
    padding: var(--size-16);
    width: 80%;

    color: var(--c-light);
    font-size: var(--size-24);
    font-family: var(--font-comfortaa);
    cursor: none;
}


//.page{

    //&__contact{

        //overflow: hidden;

        //.contact{

        #contact{

            height: auto;
            width: 100%;
                  
            margin: auto;
            margin-bottom: 10em;
            padding: var(--size-80) var(--size-16);

            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            //box-shadow: inset 40em 80em var(--c-dark-transparent-50);


            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            gap: var(--size-32);

            @media screen and (max-width: $media-mobile) {
                gap: var(--size-16);
            }

                  
            
            .title{
                
                color: var(--c-dark);
                font-size: var(--size-96);
                font-family: var(--font-noto);
                font-weight: 900;
                text-transform: uppercase;

                align-self: flex-start;

                -webkit-text-stroke: 2px var(--c-light);
           
                @media screen and (max-width: $media-tablet) {
                    font-size: var(--size-64);
                }

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-48);
                }
            }
           
            .contacts{
                &__wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    position: relative;

                    height: auto;
                    width: 100%;
                    margin: auto;
                    
                    @media screen and (max-width: $media-tablet) {
                        gap: var(--size-8);
                    }

                    @media screen and (max-width: $media-mobile) {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        gap: 0;
                    }

                    .subtitle{
                        align-self: flex-start;

                        color: var(--c-highlight);
                        font-family: var(--font-noto);
                        font-size: var(--size-48);
                        font-weight: 200;
                        text-transform: uppercase;

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-24);
                            font-weight: 400;
                        }

                    }

                    h4{
                        text-transform: capitalize;
                        font-family: var(--font-space);
                        font-weight: 600;
                        font-size: var(--size-32);
                        letter-spacing: 1px;

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1.2rem;
                        }

                    }

                    
                    //the "or"
                    h5{
                        display: none;
                        color: var(--c-light);
                        font-family: var(--font-comfortaa);
                        font-size: var(--size-24);
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: var(--size-16);
                        margin-top: var(--size-16);

                        @media screen and (max-width: $media-mobile) {
                            display: block;
                        }
                    }

                }

                &__mail{
                    width: 100%;
                    padding: var(--size-72) var(--size-96);
                    border: 1px solid var(--c-light);
                    border-radius: var(--size-8);
                    background-color: var(--c-dark);

                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: $media-tablet) {
                        padding: var(--size-16);
                        padding-top: var(--size-56);
                        margin-top: var(--size-16);
                    }

                }

                &__socials{

                    text-align: center;
                    color: var(--c-light);
                    position: relative;
                    margin-top: var(--size-32);
                    padding: var(--size-72);
                    padding-left: 0;
                    width: 100%;

                    @media screen and (max-width: $media-tablet) {
                        padding: var(--size-16);
                    }
                                           
                    .socials__title{
                        color: var(--c-highlight);
                        text-align: left;
                        text-transform: uppercase;
                        font-family: var(--font-noto);
                        font-size: var(--size-48);
                        font-weight: 200;

                        width: 100%;

                        @media screen and (max-width: $media-tablet) {                            
                            font-weight: 400;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-32);
                        }

                    }

                    /* div{
                        font-size: 1.5rem;
                        font-family: var(--font-space);

                        @media screen and (max-width: $media-mobile) {
                            
                        }
                    } */

                    ul{
                        padding-left: 0;
                        padding-right: var(--size-80);

                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-end;
                        justify-content: space-between;

                        @media screen and (max-width: $media-mobile) {
                            padding: 0;
                        }

                                              
                        li{
                            list-style: none;
                            font-size: 2.3rem;
                            font-family: var(--font-comfortaa);
                            
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: var(--size-16);
                                                        
                            padding: 1rem 0;
                            margin: 0.5rem;
                            transition: all 0.3s ease;
                            position: relative;

                            @media screen and (max-width: $media-mobile) {
                                gap:0;
                            }

                            &:hover{

                                cursor: none;
                                
                                a{                                   
                                    color: var(--c-highlight);
                                    
                                    cursor: none;
                                    
                                    @media screen and (max-width: $media-mobile) {
                                        animation: none;
                                    }
                                }

                                svg,
                                i{                             
                                    color: var(--c-highlight);                                    
                                                                        
                                    @media screen and (max-width: $media-mobile) {
                                        animation: none;
                                    }
                                }

                            }
                            
                            @media screen and (max-width: $media-tablet) {
                                padding: 0.5rem 0;
                                font-size: 2.4rem;
                            }
                            
                            
                        svg{
                            margin-right: 1em;
                            @media screen and (max-width: $media-mobile) {
                                margin-right: 0.5em;
                            }
                        } 
                        
                        i{
                            font-size: var(--size-64);

                            @media screen and (max-width: $media-tablet) {
                                font-size: var(--size-48);
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: var(--size-32);
                                margin-right: var(--size-16);
                            }
                        }
                        
                        a{
                            
                            text-decoration: none;
                            text-align: left;

                            color: var(--c-light);
                            font-size: var(--size-64);
                            font-family: var(--font-noto);
                            font-weight: 200;
                            letter-spacing: 2px;
                            //background-color: black;
                            mix-blend-mode: lighten;

                            &::after{
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;

                                //background-color: red;
                                border-radius: 0.5em;

                            }
                           

                            @media screen and (max-width: $media-tablet) {
                                font-size: 1.8rem;
                            }
                                                        
                            @media screen and (max-width: $media-mobile) {
                                color: var(--c-light);
                                font-size: var(--size-p);
                            }
                        }
                    }
                }
            }
        }


        .mailForm{

            width: 100%;
            
                      
            form{
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: var(--size-56);

                @media screen and (max-width: $media-mobile) {
                    gap:var(--size-32)
                }

            }

            .input{

                @include formInput;

                @media screen and (max-width: $media-tablet) {
                    width: 100%;                    
                }

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-16);
                    padding: var(--size-8);
                    transform: translateX(-2%);
                }

                &:focus,
                &:not(:placeholder-shown){
                   border-color: var(--c-highlight);

                   background-color: rgba($color: #f2f2f2, $alpha: 0.1);
                }

                &:focus + label,
                &:not(:placeholder-shown) + label{
                   top: -32%;
                   left: 0;
                   border: 1px solid var(--c-highlight);
                   border-radius: var(--size-8);
                   font-size: var(--size-16);

                   @media screen and (max-width: $media-mobile) {
                        font-size: var(--size-8);
                    }
                }

                &__wrap{                    
                    position: relative;
                    width: 100%;
                                       
                    label{
                        position: absolute;
                        left: 1.5%;
                        top: 50%;
                        transform: translateY(-50%);

                        color: var(--c-light);
                        font-size: var(--size-24);
                        font-family: var(--font-comfortaa);
                        padding: var(--size-8);

                        transition: all 0.3s ease;

                        @media screen and (max-width: $media-mobile) {
                            font-size: var(--size-16);
                            padding: 4px;
                        }
                    }

                }
  
            }

            textarea{
                @include formInput;
                resize: vertical;
                height: 240px;
            }

            .submit{

                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--size-8);

                width: 80%;
                margin-top: var(--size-16);
                padding: var(--size-16) var(--size-32);

                border: 1px solid var(--c-light);
                border-radius: var(--size-80);
                background-color: var(--c-dark); 

                font-size: var(--size-32);
                font-family: var(--font-noto);
                color: var(--c-light); 

                cursor: none;

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-16);
                }

                
                &:hover{
                    cursor: none;
                    background-color: var(--c-light-transparent-10);
                }

                &:disabled{
                    opacity: 0.25;
                }

            }

            

            
        }


   /*          .mailForm{                
                

                #form-main{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 100%;
                    padding: 1em;
                }

                .form{
                    width: 100%;
                }

                &.out{
                    animation: popOut 0.3s ease;
                }

                &__Content{
                    background: var(--c-dark);
                    margin: 10% auto;
                    padding: 20px;
                    border: 1px solid var(--c-light);
                    border-radius: 0.25em;
                    width: 60%;
                    height: auto;
                    color: var(--c-light);
                                     
                    animation: moveIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                                     
                    position: relative;

                    &.out{
                        animation: moveOut 0.3s ease;
                    }

                    
                    @media screen and (max-width: $media-tablet) {
                        margin: 20% auto;
                        margin-left: 20%;
                        width: 70%;
                        scale: 0.9;
                    }

                    @media screen and (max-width: $media-tablet) {
                        margin: auto;
                    }

                    @media screen and (max-width: $media-mobile) {
                        width: 90%;
                        margin-left: 0;
                        margin: auto;
                    }

                    h1{
                        margin: 1rem 0;
                        margin-left: 0.5em;
                        margin-bottom: 4rem;

                        font-family: var(--font-comfortaa);
                        font-size: var(--size-h2);
                        font-weight: 300;

                        @media screen and (max-width: $media-tablet) {
                            font-size: 1.8rem;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1.1rem;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                    }

                    .closeMail{
                        border-radius: 50%;         
                        float: right;                 

                        position: absolute;
                        top: -5%;
                        right: -3%;

                        svg{
                            border-radius: 50%;
                            outline: 8px solid var(--c-dark);
                        }

                        &:hover,
                        &:focus{
                            cursor: pointer;
                            color:var(--c-light);
                        }

                        @media screen and (max-width: $media-tablet) {
                           scale: 0.8;
                           top: -5%;
                           right: -5%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: 1.2rem;
                        }
                    }

                    .input{

                        &__wrap{                            
                            width:100%;
                            height: 50px;
                            position: relative;

                            outline: 1px solid var(--c-blue);
                            border-radius: 0.25em;
                            margin-bottom: 2.5rem;
                           
                            
                            @media screen and (max-width: $media-tablet) {
                                width: 100%;
                            }

                            .input{                                

                                    color:var(--c-light);
                                    font-family: var(--font-poppins);
                                    font-weight:300;
                                    font-size: 1.2rem;
                                 
                                    background-color: var(--c-dark);
                                    padding: .8rem;
                                    width: 100%;
                                    height: 100%;
                                    border: none;
                                    
                                    box-shadow: 0 0 20px rgba($color: #00AEFF, $alpha: 0.5) inset;

                                    &:not(:placeholder-shown){
                                        background-color: var(--c-dark);
                                    }
                                

                                &:focus,
                                &:not(:placeholder-shown){
                                    background: var(--c-dark);
                                    box-shadow: none;
                                    border: none;
                                    outline: none;
                                    height: 100%;
                                    width: 100%;
                                }

                    
                                &:focus + .input__label,
                                &:not(:placeholder-shown) + .input__label
                                {
                                    font-size: 0.8rem;
                                    position: absolute;
                                    top: -50%;
                                    left: 0; 
                                    padding: 0 0.5rem;
                                    text-shadow: none;
                                    background-color: var(--c-dark);
                                    outline: 1px solid var(--c-blue);
                                    border-radius: 0.25em;                        
                                }


                                @media screen and (max-width: $media-mobile) {
                                    font-size: 1rem;
                                    letter-spacing: 2px;
                                }

                                
                            }
                            
                        }

                                                

                        &__label{
                            background-color: var(--c-dark);
                            color: var(--c-blue);
                            font-family: var(--font-space);
                            font-size: 1.2rem;
                            font-weight: 400;
                            text-shadow: 0 0 4px var(--c-blue);
                            text-transform: uppercase;
                            letter-spacing: 3px;
                            transition: all 0.3s ease;

                            position: absolute;
                            top: 25%;
                            left:1%;


                            @media screen and (max-width: $media-mobile) {
                                background-color: transparent;
                                top: -40%;
                                left: 0;
                                padding-left: 0;
                                font-size: 0.8rem;
                            }

                        }
                                               
                    }

                    textarea{
                        background-color: var(--c-dark);
                        color: var(--c-light);
                        padding: 0.5rem;
                        width: 100%;
                        border-radius: 0.25em;

                        font-size: var(--size-p);
                        font-family: var(--font-space);
                        letter-spacing: 1.5px;

                        &:focus{
                            outline: 1px solid var(--c-blue);
                        }

                        @media screen and (max-width: $media-tablet) {
                            font-size: 0.8rem;
                            line-height: 144%;
                            text-wrap: pretty;
                        }
                    }

                                        
    
                    //textarea
                    #message{
                        resize: vertical;
                        height: 12vh;

                        @media screen and (max-width: $media-tablet) {
                            height: 28vh;
                        }
                    }

                    .submit{
                        &__button{
                            font-family: var(--font-space);
                            font-weight: 500;
                            font-size: 1.5rem;
                            letter-spacing: 0.2rem;

                            width: 100%;
                            margin-top: 2rem;
                            padding: 1.1rem 0;

                            border: var(--c-light) solid 1px;
                            border-radius: 0.5em;
                            background-color: var(--c-dark);
                            color: var(--c-light);
                            cursor:pointer;

                            transition: all 0.3s;
                            position: relative;

                            &:hover:not(:disabled){
                                color: var(--c-light);
                                background-color: var(--c-blue);
                                border-color: var(--c-light);
                            }

                            &:disabled{
                                opacity: 0.5;
                                cursor: not-allowed;
                            }

                            @media screen and (max-width: $media-tablet) {
                                font-size: 1rem;
                            }

                        }
                    }

                  }
              }
        } */

        @keyframes popIn {
            0%{
                scale: 0;
            }
            100%{
                scale: 1;
            }
        }

        @keyframes popOut {
            0%{
                scale: 1;
            }
            100%{
                scale: 0;
            }
        }



        @keyframes moveIn {
            0%{
                transform: translateY(200%);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes moveOut {
            0%{
                transform: translateY(0);
                opacity: 1;
            }
            100%{
                transform: translateY(200%);
                opacity: 0;
            }
        }

        @keyframes text-glitch {
            0% {
                text-shadow:2px 1px var(--c-blue), -2px -1px var(--c-purple);
              }
              25% {
                text-shadow: -1px -2px var(--c-blue), 2px 1px var(--c-purple);
              }
              50% {
                text-shadow:2px 1px var(--c-blue), -2px -1px var(--c-purple);
              }
              75% {
                text-shadow:-2px -1px var(--c-blue), -2px -1px var(--c-purple);
              }
              100% {
                text-shadow:2px 0 var(--c-blue), 2px -1px var(--c-purple);
              }
          }
          
        @keyframes icon-glitch {
            0% {
                filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px -1px var(--c-purple));
              }
              25% {
                filter: drop-shadow(-1px -2px var(--c-blue)) drop-shadow(2px 1px var(--c-purple));
              }
              50% {
                filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px 1px var(--c-purple));
              }
              75% {
                filter: drop-shadow(-2px -1px var(--c-blue)) drop-shadow(-2px -1px var(--c-purple));
              }
              100% {
                filter: drop-shadow(2px 0 var(--c-blue)) drop-shadow(2px -1px var(--c-purple));
              }
        }


    //}

    //}

    

}