$lightgrey: #bbb;
$grey: #757575;
$darkgrey: #1d1d1d;
$black: #111;

.page{

    position: relative;

    
    &__contact{

        .contact{

        &__main{
            width: 80%;
            margin-left: 10%;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 20rem;

            @media screen and (max-width: 800px) {
                gap: 15rem;
            }

           
            .contacts{
                &__wrapper{
                    display: flex;
                    justify-content: space-evenly;
                    gap: 20rem;

                    @media screen and (max-width: 800px) {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 8rem;
                    }

                    @media screen and (max-width: 480px) {
                        gap: 1rem;
                    }

                    h4{
                        text-transform: capitalize;
                        font-family: var(--font-space-mono);
                        font-weight: 600;
                        font-size: 2rem;
                        letter-spacing: 1px;

                        @media screen and (max-width: 480px) {
                            font-size: 1.2rem;
                        }

                    }

                }

                &__mails{
                    font-size: 2rem;
                    font-family: var(--font-space-mono);
                    text-align: center;
                    transition: all 0.3s ease;

                    @media screen and (max-width: 800px){
                        background-color: var(--bg-dark-transparent);
                        color: var(--text-light);
                        padding: 1rem;                        
                        border: thin solid var(--bg-light);
                    }

                                    
                    &:hover{
                        cursor: pointer;
                        color: $lightgrey;
                        text-shadow: 0 0 4px $darkgrey;
                    }

                    &:active{
                        color: $darkgrey;
                        text-shadow: 0 0 4px var(--text-light);
                    }

                    @media screen and (max-width: 480px) {
                        font-size: 1.5rem;
                        margin-top: 1.5rem;
                    }
                }

                &__socials{

                    text-align: center;

                    @media screen and (max-width: 800px){
                        background-color: var(--bg-dark-transparent);
                        color: var(--text-light);
                        padding: 1rem;                        
                        border: thin solid var(--bg-light);
                    }
                                       

                    div{
                        font-size: 1.5rem;
                        font-family: var(--font-space-mono);

                        @media screen and (max-width: 480px) {
                            font-size: 1rem;
                            padding-bottom: 1rem;
                        }
                    }

                    li{
                        list-style: none;
                        font-size: var(--size-24);
                        font-family: var(--font-space-mono);
                        padding: .5rem 0;
                        transition: all 0.3s ease;

                        @media screen and (max-width: 800px) {
                            padding: 0.5rem 0;
                            font-size: 1.2rem;
                        }

                        
                        &:hover{
                            color: var(--text-light);
                            text-shadow: 0 0 2px $black;
                            scale: 1.2;

                            @media screen and (max-width: 800px) {
                                scale: 1;
                                text-shadow: none;
                            }

                            a{
                                color: var(--text-light);
                                text-shadow: 0 0 2px $black;
                            }
                        }

                        a{
                            text-decoration: none;
                            color: $darkgrey;

                            @media screen and (max-width: 800px) {
                                color: var(--text-light);
                            }
                        }
                    }
                }
            }

            .mailModal{
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background: rgba(0, 0, 0, 0.4);

                &__Content{
                    background:#111;
                    margin: 15% auto;
                    padding: 20px;
                    border: 1px solid var(--text-light);
                    width: 50%;
                    color: var(--text-light);
                    
                    position: relative;

                    @media screen and (max-width: 800px) {
                        width: 75%;
                    }

                    h1{
                        margin: 1rem 0;
                        margin-bottom: 1.5rem;

                        font-family: var(--font-space-mono);
                    }

                    .close{
                        color: #aaa;
                        float: right;
                        font-size: 2.5rem;
                        font-weight: bold;

                        position: absolute;
                        top: 0;
                        right: 1rem;

                        &:hover,
                        &:focus{
                            cursor: pointer;
                            color:var(--text-light);
                        }
                    }

                    .input{
                        &__feedback{
                            color:var(--text-light);
                            font-family: var(--font-hepta);
                            font-weight:100;
                            font-size: 1.2rem;
                            background-color: $black;
                            padding: .8rem;
                            margin-bottom: 10px;
                            width:100%;
                            box-sizing: border-box;
                            border: 1px solid var(--text-light);

                            @media screen and (max-width: 480px) {
                                font-size: 0.8rem;
                                margin-bottom: 15px;
                            }


                        }
                    }

                    //textarea
                    #message{
                        resize: vertical;
                    }

                    .submit{
                        &__button{
                            font-family: var(--font-space-mono);
                            font-weight: 500;
                            font-size: 1.5rem;
                            letter-spacing: 0.2rem;

                            float:left;
                            width: 100%;
                            margin-top: 2rem;
                            padding: 1.1rem 0;

                            border: var(--text-light) solid 1px;
                            background-color: $black;
                            color: var(--text-light);
                            cursor:pointer;

                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s;
                            position: relative;

                            &:hover{
                                color: $black;
                                background-color: var(--text-light);
                                border-color: $black;
                                box-shadow: 0 0 1rem $darkgrey inset;
                            }
                        }
                    }

                  }
              }
        }

        &__title{
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 4px var(--bg-dark);
            
            font-family: var(--font-space-mono);
            font-size: 2.5rem;
            font-weight: 400;

            letter-spacing: 4px;
            color: var(--text-light);
        }


    }

    }

    

}