//media variables
$media-laptop: 1440px;
$media-tablet: 1024px;
$media-mobile: 450px;

$width: 20vw;
$height: 36vh;


@mixin background(){
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    @media screen and (max-width: $media-mobile) {
          background-size: cover;      
    }
}




.home{

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
        padding: clamp(0.5em, 4vw, 20em);
        
        height: fit-content;
        width: 100%;
        background-color: var(--c-dark-transparent-50);

        @media screen and (max-width: $media-laptop) {
            height: 120vh;
        }

        @media screen and (max-width: $media-tablet) {
            //height: 80vh;
        }

        @media screen and (max-width: $media-mobile) {                
            height: auto;
        }

        .reveal{
            padding: var(--size-72);

      
            @media screen and (max-width: $media-tablet) {
                width: 80%;
                padding: 0;
            }
        }

        p{
            color: var(--c-light-transparent-50);
            text-transform: uppercase;

            font-family: var(--font-noto);
            font-size: clamp(1rem, 3.8vw, 5rem);
            font-weight: 900;

            width: 100vw;
            line-height: 124%;

            
            .underline{
                position: relative;

                @media screen and (max-width: $media-mobile) {
                    color: var(--c-light);
                }

                &::after{
                    content: '';
                    position: absolute;
                    bottom: -110%;
                    left: 25%;
                    transform: rotate(2deg);
                    scale: 1.5;
                   
                    background-image: url("../../img/svg/intro_text_underline.svg");
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;

                    @media screen and (max-width: $media-tablet) {
                        background-image: none;
                        background-color: var(--c-highlight);
                        scale: 1;
                        left: 0;
                        bottom: 0;
                                            
                        height: 2px;
                        width: 100%;

                    }
                }
            }


            /* span{
                color: var(--c-highlight);
            } */
        }

        img{
            height:auto;
            width: 16vw;
            object-fit: contain;

            @media screen and (max-width: $media-tablet) {
                width: 32vw;
            }
        }
    }
}

//.page{
    
    //&__home{

        

    //#home{

        #home{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 8em;

                        
            margin: auto;
            height: auto;
            width: 100%;

            background-size: cover;
            background-position: center center;

            padding-bottom: 4em;
            margin-bottom: 2em;
           
            //overflow: hidden;
            position: relative;
            z-index: 3;

            @media screen and (max-width: $media-tablet) {
                gap: 1em
            }

            @media screen and (max-width: $media-mobile) {
                gap: 0;
                height: 40vh;
            }
            
            
                        
            //black transparent background
            .bg-home{
                position: absolute;
                top: 0;
                right: 0;
                width: 85%;
                height: 115%;
                z-index: -1;

                iframe{
                    border: none;
                }

                @media screen and (max-width: $media-tablet) {
                    width: 100%;
                }

                @media screen and (max-width: $media-mobile) {
                    width: 100%;
                    height: 120%;
                }
            }

        }
    //}


    //}
//}


@keyframes button-glitch {
    0% {
    filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px -1px magenta);
    }
    25% {
    filter: drop-shadow(-1px -2px var(--c-blue)) drop-shadow(2px 1px magenta);
    }
    50% {
    filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px 1px magenta);
    }
    75% {
    filter: drop-shadow(-2px -1px var(--c-blue)) drop-shadow(-2px -1px magenta);
    }
    100% {
    filter: drop-shadow(2px 0 var(--c-blue)) drop-shadow(2px -1px magenta);
    }
}
