//media variables
$media-tablet-wide: 1024px;
$media-tablet: 950px;
$media-mobile-wide: 900px;
$media-mobile: 600px;

$width: 20vw;
$height: 50vh;


@mixin activeCard($width){
    @if $width == 'active' {
        width: $width;
    }
    @else{
        width: 8vw;
    }

    //on mobile
    @if $width == 'active-m'{
        width: 100%;
        height: $height;
    }
    @else{
        height: 8vh;
    }
        
}


.page{
    
    &__home{

        

    .home{

        &__main{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 10rem;

            margin: auto;
            margin-left: 15%;
            height: 100%;
            
            position: relative;

           
            //black transparent background
            &::after{
                content: '';
                position: absolute;
                right: -16%;
                top: 0;

                z-index: -1;
                background-color: var(--bg-dark-transparent);
                height: 200vh;
                width: 0; //gets added via animation - 

                transition: all 0.3s ease;

                animation: slideIn 2s forwards;

                @media screen and (max-width: $media-tablet) {
                    right: -25%;
                }

                @media screen and (max-width: $media-mobile-wide) {
                    right: -27%;
                    height: 150vh;
                }

            }

            @media screen and (max-width: $media-tablet) {
                margin-left: 10%;
            }

            @media screen and (max-width: $media-mobile-wide) {
                gap: 0;
                overflow-x: hidden;
                height: 100%;
            }

            .welcome{


                ///!!!ACCORDION
                &_accordion_container{
       
                    width: 90%;
                    height: 50vh;
                    margin-left: 20%;
                    margin-top: 4%;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 1rem;

                    @media screen and (max-width: $media-tablet-wide) {
                        height: 40vh;
                    }

                    @media screen and (max-width: $media-tablet) {
                        margin-top: 16%;
                    }

                    @media screen and (max-width: $media-mobile-wide) {
                        flex-flow: column nowrap;
                        height: 50vh;
                        margin-left: 0;
                        margin-top: 8%;
                        width: 60%;
                    }
                    
                    .accordion{
                        
                        &__card{
                            @include activeCard('active');
                            
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            
                            background-color: var(--bg-dark);
                            height: 100%;
                            width: auto;
                            outline: thin solid var(--text-light);
                            position: relative;

                            @media screen and (max-width: $media-mobile-wide) {
                                @include activeCard('active-m');

                                flex-flow: column nowrap;
                                width: 100%;
                            }
                            
                            .panel{
                                background-color: var(--bg-dark);
                                color: var(--text-light);

                                width: 0; //hover sets to 500px
                                height: 100%;
                                overflow: hidden;
                                padding: 2.5% 0;
                                
                                text-align: center;
                                font-family: var(--font-hepta);
                                font-size: var(--size-p);
                                line-height: 140%;
                                
                                transition: all 0.5s ease;

                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                @media screen and (max-width: $media-mobile-wide) {
                                    height: 0;
                                    padding: 0 1rem;
                                }

                                //headline inside panel
                                h2{
                                    font-family: var(--font-poppins);
                                    font-weight: 400;
                                    text-transform: uppercase;

                                    @media screen and (max-width: $media-tablet-wide) {
                                        font-size: 1rem;
                                        font-weight: 600;
                                        letter-spacing: 2px;
                                        margin-top: 0.5rem;
                                    }

                                    @media screen and (max-width: $media-mobile-wide) {
                                        visibility: hidden;
                                    }
                                }

                                p{
                                    padding: 1rem;
                                    text-wrap: pretty;

                                    @media screen and (max-width: $media-tablet-wide) {
                                        font-size: 0.8rem;
                                        padding: 0.5rem;
                                    }

                                    @media screen and (max-width: $media-mobile-wide) {
                                        padding-top: 0.25rem;
                                        font-size: 0.7rem;
                                        line-height: 144%;
                                    }

                                }

                                #home__bottom-text{
                                    @media screen and (max-width: $media-mobile-wide) {
                                        visibility: hidden;
                                    }
                                }

                                a{
                                    color: var(--text-link);
                                    text-decoration: none;
                                    z-index: 1;
                                    cursor: pointer;
                                                                        
                                    
                                    i{
                                        transition: all 0.3s ease;
                                    }

                                    &:hover{
                                        text-decoration: underline;
                                    }

                                    @media screen and (max-width: $media-tablet-wide) {
                                        font-size: 0.7rem;
                                        margin-bottom: 0.5rem;
                                        padding: 0 0.5rem;
                                    }


                                }


                            }

                            /*
                            &:hover{
                                width: 20vw;
                            }
                            
                            &:hover .panel{
                                width: 20vw;
                            }

                            */

                            label{
                                position: absolute;
                                top: 0;
                                left: 0;

                                //background-color: red;

                                width: 100%;
                                height: 100%;

                            }

                            input[type="radio"]{
                                display: none;
                            }

                            input[type="radio"]:checked ~ .panel{
                                width: $width;

                                @media screen and (max-width: $media-mobile-wide) {
                                    width: 100%;
                                    height: $height;
                                }
                            }
                                                        
                        }
                        
                        &__image{

                            color: var(--text-light);

                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 100%;
                            width: 8vw;
                            box-shadow: inset 0 50rem rgba(0,0,0,0.5);

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            @media screen and (max-width: $media-mobile-wide) {
                                width: 100%;
                                height: 6vh;
                                padding: 1rem;
                            }
                            
                            h2{
                                font-size: var(--size-h3);
                                font-family: var(--font-poppins);
                                font-weight: 300;
                                                                
                                text-align: center;
                                text-transform: uppercase;
                                text-orientation: upright;
                                writing-mode: vertical-rl;

                                @media screen and (max-width: $media-tablet-wide) {
                                    font-size: 1.25rem;
                                }

                                @media screen and (max-width: $media-mobile-wide) {
                                    text-orientation: sideways;
                                    writing-mode: horizontal-tb;
                                }

                            }

                            &.home{
                                background-image: url("../../img/backgrounds/bg_home_AI.jpg");
                            }

                            &.portfolio{
                                background-image: url("../../img/backgrounds/bg_portfolio_AI.jpg");
                            }

                            &.about{
                                background-image: url("../../img/backgrounds/bg_about_AI.jpg");
                            }

                            &.blog{
                                background-image: url("../../img/backgrounds/bg_blog_AI.jpg");
                            }

                            &.contact{
                                background-image: url("../../img/backgrounds/bg_contact_AI.jpg");
                            }

                        }


                    }
                }

                
        
                
                &__box{
                    
                    width: 90%;
                    margin-left: 10%;
                    position: relative;

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    .divider{
                        width: 0; //with animation to 20vw
                        opacity: 0;
                        margin: 2rem;
                        animation: divider 2s 2s forwards;                        
                    }

                    .welcome__card-container{
                        
                        overflow-y: scroll;

                        height: 50vh;

                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;

                        margin-top: 6rem;
                        margin-bottom: 8rem;

                        &::-webkit-scrollbar{
                            appearance: none;
                            width: 2px;
                        }

                        &::-webkit-scrollbar-thumb{
                            background-color: var(--bg-light);
                        }


                        @media screen and (max-width: $media-mobile) {
                            height: 100%;
                            justify-content: space-between;
                            margin:auto;
                        }
                    

                        .welcome__card{

                            height: 380px;
                            width: 65%;
                            margin-top: 2rem;
                            margin-bottom: 3rem;

                            position: relative;

                            @media screen and (max-width: $media-mobile) {
                               margin-bottom: 2rem;
                               height: fit-content;
                            }

                                                                                   
                            .card{
                                &__img{

                                    position: relative;
                                    margin-bottom: 1.2rem;
                                    height: auto;
                                    width: 100%;
                                                                    
                                    outline: 1px solid var(--bg-light);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;

                                    
                                    @media screen and (max-width: $media-mobile) {
                                        height: auto;
                                        width: 120%;
                                    }

                                                                                                            
                                    //card title background images
                                    &.home{
                                        background-image: url("../../img/backgrounds/bg_home_AI.jpg");
                                    }

                                    &.portfolio{
                                        background-image: url("../../img/backgrounds/bg_portfolio_AI.jpg");
                                    }

                                    &.about{
                                        background-image: url("../../img/backgrounds/bg_about_AI.jpg");
                                    }

                                    &.blog{
                                        background-image: url("../../img/backgrounds/bg_blog_AI.jpg");
                                    }

                                    &.contact{
                                        background-image: url("../../img/backgrounds/bg_contact_AI.jpg");
                                    }

                                    
                                                                        
                                    h2{ 
                                        
                                        text-align: center;
                                        color: var(--text-light);
                                        font-family: var(--font-poppins);
                                        font-size: var(--size-h2);
                                        font-weight: 300;
                                        text-transform: uppercase;

                                        box-shadow: inset 0 8rem rgba(0,0,0,0.5);
                                        height: 100%;
                                        width: 100%;
                                        padding: 1rem;  
                                                                                
                                        @media screen and (max-width: $media-mobile) {
                                            font-size: 1.5rem;
                                        }                                 
                                        
                                        
                                    }

                                }

                                &__text{
                                    color: var(--text-light);
                                    font-size: 20px;
                                    font-family: var(--font-hepta);
                                    padding: 0.5rem;

                                    @media screen and (max-width: $media-mobile) {
                                        font-size: 1rem;
                                        line-height: 150%;
                                        width: 125%;
                                    }
                                    
                                }
                            }

                            a{
                                position: absolute;
                                top: 0;
                                left: 0;

                                height: 100%;
                                width: 100%;
                                cursor: pointer;
                                //background-color: red;

                                &:hover,
                                &:focus{
                                    outline: thin solid var(--bg-light);
                                }
                            }

                        }

                    }

                    //SLIDE
                    /* .slider{

                        &__wrapper{
                            position: relative;
                            

                            .dots{
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                margin: auto;
                                text-align: center;

                                @media screen and (max-width: 900px) {
                                    bottom: -10%;
                                }

                                .dot{
                                    height: 16px;
                                    width: 16px;
                                    background-color: var(--bg-dark);
                                    outline: thin solid var(--bg-lightgrey);

                                    margin: 0 2px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    transition: background-color 0.3s ease;

                                    @media screen and (max-width: 500px) {
                                        height: 12px;
                                        width: 12px;
                                    }

                                    &.active-d{
                                        background-color: var(--bg-lightgrey);
                                    }
                                }
                            }
                        }

                        &__container{
                            max-width: 50vw;
                            height: 25vh;
                                                                                                        
                            position: relative;
                            margin: auto;
                            overflow: hidden;

                            @media screen and (max-width: 500px) {
                                height: 30vh;
                                max-width: 100%;
                            }
                                                                                                     

                            .slide{
                                &__home,
                                &__portfolio,
                                &__about,
                                &__blog,
                                &__contact{

                                    display: inline-block;
                                    transform: translate(200%);
                                    
                                    position: relative;
                                    margin: auto;
                                    padding: 1rem;
                                    padding-left: 2rem;
                                    
                                    max-width: 100%;
                                    width: 80vw;
                                    z-index: 3;

                                    transition: transform 0.3s ease;

                                    @media screen and (max-width: 500px) {
                                        max-width: fit-content;
                                    }

                                    &:hover,
                                    &:focus{
                                        background-color: rgba(255,255,255,0.2);
                                        border-radius: 0.5rem;
                                    }

                                    p{
                                        color: var(--text-light);
                                        font-family: var(--font-hepta);
                                        font-size: 1.1rem;
                                        text-shadow: 1px 1px 3px var(--bg-dark);
                                        line-height: 1.8rem;
                                        padding: 0.5rem;

                                        @media screen and (max-width: 900px) {
                                            font-size: 1.4rem;
                                        }

                                        @media screen and (max-width: 500px) {
                                            font-size: 0.9rem;
                                            hyphens: auto;
                                        }

                                        a{
                                            color: var(--text-link);
                                        }
                                    }

                                    i{
                                        position: absolute;
                                        color: var(--text-light);
                                        font-size: 8rem;
                                        z-index: 1;
                                        opacity: 0.3;
                                    }

                                    .slide__link{
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        
                                        //background-color: cyan; //check for placement
                                    }

                                    &.active{
                                        transform: translate(0);
                                    }

                                    &.out{
                                        display: none;
                                    }
                                }
                            }

                            h3{
                                color: var(--text-light);
                                font-family: var(--font-space-mono);
                                font-size: 2.5rem;
                                font-weight: 200;
                                text-transform: uppercase;

                                @media screen and (max-width: 500px) {
                                    font-size: 1.2rem;
                                }
                            }

                            
                        }
                    } */
                                       
                    
                }

                //Welcome section logo
                &__logo{
                    width: calc(270px * 1.2);
                    height: calc(154px * 1.2);

                }
                
                //Welcome box title
                &__title{
                    overflow: hidden;

                    color: var(--text-light);
                    font-family: var(--font-poppins);
                    font-weight: 300;
                    font-size: var(--size-h1);
        
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    padding: 0 3rem;

                    @media screen and (max-width: $media-tablet-wide) {
                        font-size: var(--size-h3);
                    }


                    @media screen and (max-width: $media-tablet) {
                        font-size: var(--size-h1);
                        font-weight: 600;

                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: 0.6rem;
                        padding-bottom: 1rem;
                    }

                    //headline & subheadline
                    h1{
                        position: relative;
                        transform: translateX(200%);
                        text-shadow: 0 0 4px var(--text-dark);
                        font-family: var(--font-poppins);
                        font-weight: 100;
                        animation: letters 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                        animation-delay: 2s;

                        @media screen and (max-width: $media-mobile-wide) {
                            font-weight: 300;
                            font-size: 1.2rem;
                        }

                    }

                    #subheadline{
                        font-size: var(--size-h2);

                        @media screen and (max-width: $media-tablet-wide) {
                            font-size: 22px;
                        }

                        
                        @media screen and (max-width: $media-mobile-wide) {
                            font-size: 0.7rem;
                            padding-top: 0.25rem;
                        }
                    }
                    
                }
        
                
            }
        }
    }


    }
}


/* video{
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (max-width: 1000px) {
        display: none;
    }
} */


@keyframes slideIn {
    to{
        width: 100%;
    }
}


@media screen and (max-width: $media-tablet) {
        @keyframes slideIn {
            to{
                width: 110%;
            }
        }
}


@keyframes letters {
    to{
        transform: translateX(0);
    }
}


/* @media screen and (max-width: $media-tablet) {
    @keyframes letters {
        to{
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: $media-mobile-wide) {
    @keyframes letters {
        to{
            transform: translateX(0);
        }
    }
} */

@keyframes unfold{
    to{
        height: 42vh;
    }
}

@keyframes divider {
    to{
        width: 20vw;
        opacity: 1;
    }
}


