//media variables
$media-tablet-wide: 1024px;
$media-tablet: 800px;
$media-mobile: 500px;

.page{
    
    &__home{

        

    .home{

        &__main{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 10rem;

            margin: auto;
            margin-left: 15%;
            
            position: relative;
           

            &::after{
                content: '';
                position: absolute;
                right: -16%;
                top: 0;

                z-index: -1;
                background-color: var(--bg-dark-transparent);
                height: 200vh;
                width: 0; //gets added via animation - 

                transition: all 0.3s ease;

                animation: slideIn 2s forwards;

                @media screen and (max-width: $media-tablet) {
                    right: -25%;
                }

                @media screen and (max-width: $media-mobile) {
                    right: -27%;
                    height: 300vh;
                }

            }

            @media screen and (max-width: $media-tablet) {
                margin-left: 10%;
            }

            @media screen and (max-width: $media-mobile) {
                gap: 2rem;
                overflow-x: hidden;
                height: 100%;
            }

            .welcome{

                
                &__box{
                    
                    width: 90%;
                    margin-left: 10%;
                    position: relative;

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    .divider{
                        width: 0; //with animation to 20vw
                        opacity: 0;
                        margin: 2rem;
                        animation: divider 2s 2s forwards;                        
                    }

                    .welcome__card-container{
                        
                        overflow-y: scroll;

                        height: 50vh;

                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;

                        margin-top: 6rem;
                        margin-bottom: 8rem;

                        &::-webkit-scrollbar{
                            appearance: none;
                            width: 2px;
                        }

                        &::-webkit-scrollbar-thumb{
                            background-color: var(--bg-light);
                        }


                        @media screen and (max-width: $media-mobile) {
                            height: 100%;
                            justify-content: space-between;
                            margin:auto;
                        }

                     

                        .welcome__card{

                            height: 380px;
                            width: 65%;
                            margin-top: 2rem;
                            margin-bottom: 3rem;

                            position: relative;

                            @media screen and (max-width: $media-mobile) {
                               margin-bottom: 2rem;
                               height: fit-content;
                            }

                                                                                   
                            .card{
                                &__img{

                                    position: relative;
                                    margin-bottom: 1.2rem;
                                    height: auto;
                                    width: 100%;
                                    
                                    
                                    outline: 1px solid var(--bg-light);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;

                                    
                                    @media screen and (max-width: $media-mobile) {
                                        height: auto;
                                        width: 120%;
                                    }

                                                                                                            
                                    //card title background images
                                    &.home{
                                        background-image: url("../../img/backgrounds/bg_home_AI.jpg");
                                    }

                                    &.portfolio{
                                        background-image: url("../../img/backgrounds/bg_portfolio_AI.jpg");
                                    }

                                    &.about{
                                        background-image: url("../../img/backgrounds/bg_about_AI.jpg");
                                    }

                                    &.blog{
                                        background-image: url("../../img/backgrounds/bg_blog_AI.jpg");
                                    }

                                    &.contact{
                                        background-image: url("../../img/backgrounds/bg_contact_AI.jpg");
                                    }

                                    
                                                                        
                                    h2{                                        
                                        text-align: center;
                                        color: var(--text-light);
                                        font-family: var(--font-poppins);
                                        font-size: var(--size-h2);
                                        font-weight: 300;
                                        text-transform: uppercase;

                                        box-shadow: inset 0 8rem rgba(0,0,0,0.5);
                                        height: 100%;
                                        width: 100%;
                                        padding: 1rem;                                       
                                        
                                        @media screen and (max-width: $media-mobile) {
                                            font-size: 1.5rem;
                                        }                                 
                                        
                                        
                                    }

                                }

                                &__text{
                                    color: var(--text-light);
                                    font-size: 20px;
                                    font-family: var(--font-hepta);
                                    padding: 0.5rem;

                                    @media screen and (max-width: $media-mobile) {
                                        font-size: 1rem;
                                        line-height: 150%;
                                        width: 125%;
                                    }
                                    
                                }
                            }

                            a{
                                position: absolute;
                                top: 0;
                                left: 0;

                                height: 100%;
                                width: 100%;
                                cursor: pointer;
                                //background-color: red;

                                &:hover,
                                &:focus{
                                    outline: thin solid var(--bg-light);
                                }
                            }

                        }

                    }

                    //SLIDE
                    .slider{

                        &__wrapper{
                            position: relative;
                            

                            .dots{
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                margin: auto;
                                text-align: center;

                                @media screen and (max-width: 900px) {
                                    bottom: -10%;
                                }

                                .dot{
                                    height: 16px;
                                    width: 16px;
                                    background-color: var(--bg-dark);
                                    outline: thin solid var(--bg-lightgrey);

                                    margin: 0 2px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    transition: background-color 0.3s ease;

                                    @media screen and (max-width: 500px) {
                                        height: 12px;
                                        width: 12px;
                                    }

                                    &.active-d{
                                        background-color: var(--bg-lightgrey);
                                    }
                                }
                            }
                        }

                        &__container{
                            max-width: 50vw;
                            height: 25vh;
                                                                                                        
                            position: relative;
                            margin: auto;
                            overflow: hidden;

                            @media screen and (max-width: 500px) {
                                height: 30vh;
                                max-width: 100%;
                            }
                                                                                                     

                            .slide{
                                &__home,
                                &__portfolio,
                                &__about,
                                &__blog,
                                &__contact{

                                    display: inline-block;
                                    transform: translate(200%);
                                    
                                    position: relative;
                                    margin: auto;
                                    padding: 1rem;
                                    padding-left: 2rem;
                                    
                                    max-width: 100%;
                                    width: 80vw;
                                    z-index: 3;

                                    transition: transform 0.3s ease;

                                    @media screen and (max-width: 500px) {
                                        max-width: fit-content;
                                    }

                                    &:hover,
                                    &:focus{
                                        background-color: rgba(255,255,255,0.2);
                                        border-radius: 0.5rem;
                                    }

                                    p{
                                        color: var(--text-light);
                                        font-family: var(--font-hepta);
                                        font-size: 1.1rem;
                                        text-shadow: 1px 1px 3px var(--bg-dark);
                                        line-height: 1.8rem;
                                        padding: 0.5rem;

                                        @media screen and (max-width: 900px) {
                                            font-size: 1.4rem;
                                        }

                                        @media screen and (max-width: 500px) {
                                            font-size: 0.9rem;
                                            hyphens: auto;
                                        }

                                        a{
                                            color: var(--text-link);
                                        }
                                    }

                                    i{
                                        position: absolute;
                                        color: var(--text-light);
                                        font-size: 8rem;
                                        z-index: 1;
                                        opacity: 0.3;
                                    }

                                    .slide__link{
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        
                                        //background-color: cyan; //check for placement
                                    }

                                    &.active{
                                        transform: translate(0);
                                    }

                                    &.out{
                                        display: none;
                                    }
                                }
                            }

                            h3{
                                color: var(--text-light);
                                font-family: var(--font-space-mono);
                                font-size: 2.5rem;
                                font-weight: 200;
                                text-transform: uppercase;

                                @media screen and (max-width: 500px) {
                                    font-size: 1.2rem;
                                }
                            }

                            
                        }
                    }
                                       
                    
                }

                //Welcome section logo
                &__logo{
                    width: calc(270px * 1.2);
                    height: calc(154px * 1.2);

                }
                
                //Welcome box title
                &__title{
                    overflow: hidden;

                    color: var(--text-light);
                    font-family: var(--font-poppins);
                    font-weight: 300;
                    font-size: var(--size-h1);
        
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    padding: 0 3rem;

                    @media screen and (max-width: $media-tablet-wide) {
                        font-size: var(--size-h3);
                    }


                    @media screen and (max-width: $media-tablet) {
                        font-size: var(--size-h2);
                    }

                    @media screen and (max-width: $media-mobile) {
                        font-size: 1rem;
                        padding-bottom: 1rem;
                    }

                    //headline & subheadline
                    h1{
                        position: relative;
                        transform: translateX(200%);
                        text-shadow: 0 0 4px var(--text-dark);
                        font-family: var(--font-poppins);
                        font-weight: 100;
                        animation: letters 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                        animation-delay: 2s;

                    }

                    #subheadline{
                        font-size: var(--size-h2);

                        @media screen and (max-width: $media-tablet-wide) {
                            font-size: 22px;
                        }

                        
                        @media screen and (max-width: $media-tablet) {
                            font-size: var(--size-h3);
                        }

                        @media screen and (max-width: $media-mobile) {
                            font-size: 0.8rem;
                        }
                    }
                    
                }
        
                
            }
        }
    }


    }
}


video{
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}


@keyframes slideIn {
    to{
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
        @keyframes slideIn {
            to{
                width: 110%;
            }
        }
}


@keyframes letters {
    to{
        transform: translateX(0);
    }
}

@keyframes unfold{
    to{
        height: 42vh;
    }
}

@keyframes divider {
    to{
        width: 20vw;
        opacity: 1;
    }
}


