//media variables
$media-tablet-wide: 1024px;
$media-tablet: 800px;
$media-mobile-wide: 700px;
$media-mobile: 500px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,html{
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}


body{
    background-color: var(--bg-dark);
    
    &#no__smooth{
        scroll-behavior: auto !important;
    }
}

.sidebar{
    position: fixed;
}

.main{
    height: 100%;
    width: auto;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--bg-dark);

    .space{

        height: 20vh;
        
    }
}

.inactive{
    visibility: hidden;
}

/* .page{
    &__home,
    &__portfolio,
    &__about,
    &__blog,
    &__contact{
        height: 100%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: var(--bg-dark);
    }

    &__headline{
        
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 4px var(--bg-dark);
                        
        font-family: var(--font-poppins);
        font-size: var(--size-h2);
        font-weight: 300;

        letter-spacing: 4px;
        color: var(--text-light);
        margin-top: 1rem;
        padding: 0.5rem;

        //background-color: var(--bg-dark-transparent);
        //border: thin solid var(--bg-light);


        @media screen and (max-width: $media-mobile-wide) {
            font-size: 1.2rem;
            margin: 0.5rem;
            margin-left: 25%;
        }


        @media screen and (max-width: $media-mobile) {
            font-size: 0.8rem;
            margin: 0.5rem;
            margin-left: 25%;
        }

        &.inactive{
            visibility: hidden;
        }
    }

    #home{

        height: 100%;
        background-image: url("../../img/backgrounds/bg_home_AI.jpg");

    }

    //background images
    &__home{
        overflow: hidden;
    }

    &__portfolio{
        background-image: url("../../img/backgrounds/bg_portfolio_AI.jpg");
    }

    &__about{
        background-image: url("../../img/backgrounds/bg_about_AI.jpg");
    }

    &__blog{
        background-image: url("../../img/backgrounds/bg_blog_AI.jpg");
    }

    &__contact{
        background-image: url("../../img/backgrounds/bg_contact_AI.jpg");
    }
} */