//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 450px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    height: 100%;
    //overflow-x: hidden;
}


body{
    background-color: var(--c-dark);
    position: relative;

    
    &.stopScroll{
        height: 100%;
        overflow: hidden;
    }
}


.sidebar{
    position: fixed;
}

.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
     
    height: fit-content;
    width: auto;
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-color: var(--c-dark);

    visibility: hidden;
    

    .top__menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;

        margin: auto;
        padding: 1em;
        background-color: var(--c-dark-transparent-50);

        @media screen and (max-width: $media-mobile) {
            display: none;
        }

        nav{
            margin: auto 4em;   
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;

            li{
                list-style: none;
                padding: 1em;

                a{
                    color: var(--c-light);
                    font-family: var(--font-space);
                    font-weight: 200;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover{
                        text-shadow: 0 0 4px var(--c-light);
                        font-weight: 700;
                    }
                }
            }
        }

        &-mobile{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;

            margin: auto;
            padding: 1em;

            display: none;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            @media screen and (max-width: $media-mobile) {
                display: flex;
            }


            .menu{
                color: var(--c-light);
                scale: 1.5;
            }

            nav{
                margin: 1em 0;
                overflow: hidden;
                height: 200px; 
                width: 100%;
                
                transition: height 0.3s ease;

                &.hidden{
                    height: 0;
                }
            }

            ul{
                display: flex;
                flex-flow: column nowrap;
                                 
                li{
                    list-style: none;
                    padding: 0.5em;
                    background: rgba($color: #f2f2f2, $alpha: 0.25);
                    border-bottom: 1px solid var(--c-dark);
                
                    a{
                        color: var(--c-orange);
                        font-family: var(--font-space);
                        font-weight: 200;
                        text-transform: uppercase;
                        text-decoration: none;
    
                        &:hover{
                            text-shadow: 0 0 4px var(--c-light);
                            font-weight: 700;
                        }
                    }
                }
            }
        }

    }

    &__section{
        height: 100vh;
        //margin-bottom: 36em;

        @media screen and (max-width: $media-mobile) {
             margin-bottom: 32em;   
        }
    }

    .space{
        height: 20vh;
        margin: 2% auto        
    }

    .splash{
        height: 100vh;
        width: 100%;
        /* display: grid;
        place-content: center; */

        display: flex;
        flex-direction: column;


        position: relative;
        z-index: 3;

        .welcome{
            
            transform: translate(5%, 80%);

            canvas{
                width: 65%;
                height: 100%;

                @media screen and (max-width: $media-tablet) {                
                    display: none;
                } 
            }



            &__mobile{
                display: none;

                color: var(--c-light);
                transform: translateY(90%);

                 @media screen and (max-width: $media-tablet) {                
                    display: block;
                } 
                
                h1{
                    font-family: var(--font-neon);
                    font-size: 2.5rem;
                    text-transform: uppercase;

                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: var(--c-orange);
                    text-shadow: 0 0 8px var(--c-orange);
                  
                    transition: all 0.3s ease;
                }

                h2{
                    font-family: var(--font-poppins);
                    font-size: 1rem;
                    font-weight: 100;
                    text-shadow: 1px 0 2px var(--c-dark);

                    margin-top: 0.5rem;
                }

            }
      

        }

        .scroll__indicator{
            color: var(--c-light);
            scale: 1.5;
            margin: auto;
            animation: mouseScroll 0.8s infinite linear alternate-reverse;

            @media screen and (max-width: $media-mobile) {
                position: absolute;
                bottom: 25%;
                left: 50%;
                //transform: translateX(-50%);
            }
        }
         
        .ddesign__logo-bg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 100vw;
            height: 100vh;
            filter: brightness(80%);
            border: none;
            z-index: -10;  
            
            canvas{
                @media screen and (max-width: $media-tablet) {                
                    display: none;
                } 
            }

            @media screen and (max-width: $media-tablet) {                
                background: url("../../img/backgrounds/ddesign_vm_bg_noLogo.jpg");
                background-position: 50%;
                background-size: cover;
                background-repeat: no-repeat;
            } 
            
            @media screen and (max-width: $media-mobile) {
                filter: brightness(50%);
            }
        }

    }

    .content{
        position: relative;
        width: 100%;

        .toTop{
            position: absolute;
            left: 50%;
            bottom:2.5%;
            transform: translateX(-50%);
            margin: auto;
            padding: 0.5em;

            display: flex;
            align-items: center; 
            justify-content: space-between;
            gap: 1em;

            color: var(--c-light);
            background: rgba($color: #f2f2f2, $alpha: 0.1);
            backdrop-filter: blur(8px);
            font-family: var(--font-space);
            text-decoration: none;
            border-radius: 0.5em;

            transition: all 0.3s ease;

            @media screen and (max-width: $media-mobile) {
                width: 70%;
                justify-content: center;
                gap: 0.5rem;
            }

            &:hover{
                backdrop-filter: blur(1px);
                outline: 1px solid var(--c-light);

                svg{
                    scale: 1.2;
                }
            }
        }
             
        .ddesign__bg-city,
        .ddesign__bg{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -99;
    
            border: none;
            width: 100%;
            height: 100%;
            filter: brightness(25%);
            

            canvas{
                @media screen and (max-width: $media-tablet) {                
                    display: none;
                } 
            }

            @media screen and (max-width: $media-tablet) {                
                background: url("../../img/dddesign_logo_transparent.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            } 
    
        }
    }


}

.inactive{
    visibility: hidden;
}

@keyframes mouseScroll {
    0%{transform: translateY(0);}
    100%{transform: translateY(8px);}
}

/* .page{
    &__home,
    &__portfolio,
    &__about,
    &__blog,
    &__contact{
        height: 100%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: var(--bg-dark);
    }

    &__headline{
        
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 4px var(--bg-dark);
                        
        font-family: var(--font-poppins);
        font-size: var(--size-h2);
        font-weight: 300;

        letter-spacing: 4px;
        color: var(--text-light);
        margin-top: 1rem;
        padding: 0.5rem;

        //background-color: var(--bg-dark-transparent);
        //border: thin solid var(--bg-light);


        @media screen and (max-width: $media-mobile-wide) {
            font-size: 1.2rem;
            margin: 0.5rem;
            margin-left: 25%;
        }


        @media screen and (max-width: $media-mobile) {
            font-size: 0.8rem;
            margin: 0.5rem;
            margin-left: 25%;
        }

        &.inactive{
            visibility: hidden;
        }
    }

    #home{

        height: 100%;
        background-image: url("../../img/backgrounds/bg_home_AI.jpg");

    }

    //background images
    &__home{
        overflow: hidden;
    }

    &__portfolio{
        background-image: url("../../img/backgrounds/bg_portfolio_AI.jpg");
    }

    &__about{
        background-image: url("../../img/backgrounds/bg_about_AI.jpg");
    }

    &__blog{
        background-image: url("../../img/backgrounds/bg_blog_AI.jpg");
    }

    &__contact{
        background-image: url("../../img/backgrounds/bg_contact_AI.jpg");
    }
} */