//media variables
$media-tablet: 1024px;
$media-mobile: 450px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    height: 100%;
    //overflow-x: hidden;

    cursor: none; //custom cursor enabled
}


body{
    background-color: var(--c-dark);
    position: relative;
    
    &.stopScroll{
        height: 100%;
        overflow: hidden;
    }

}


.custom_cursor{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--c-dark);
    outline: 4px solid var(--c-light);
    margin: 0;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;

    &.state_hover{
        outline: 4px solid var(--c-highlight);
        box-shadow: 0 0 0 0 rgba($color: #f2f2f2, $alpha: 1);
        animation: pulse 1s infinite ease;
    }

    @media screen and (max-width: $media-tablet) {
        display: none;
    }


}

.hover{
    cursor: none;
}


.sidebar{
    position: fixed;
}

.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
     
    height: fit-content;
    width: auto;
    position: relative;

    padding-left: var(--size-80);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-color: var(--c-dark);

    //visibility: hidden;

    @media screen and (max-width: $media-tablet) {
        padding-left: var(--size-32);
    }

    @media screen and (max-width: $media-mobile) {
        padding-left: 0;
    }
    

    .top__menu{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: fit-content;

        margin: auto;
        margin-right: 0;
        //margin-left: var(--size-72);
        padding: 1em 0;
           
        @media screen and (max-width: $media-mobile) {
            display: none;
        }

        img{
            max-width: 100%;
            max-height: 100%;
            width: 6%;
            height: 6%;
            object-fit: contain;
        }

        nav{
            margin: auto;
            margin-right: var(--size-32); 
            margin-bottom: 0;
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1px;
                width: 100%;
                background-color: var(--c-light);
            }
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul:first-child{
                padding-left: 0;
            }

            li{
                list-style: none;
                padding: 1em;

                a{
                    color: var(--c-light);
                    font-family: var(--font-comfortaa);
                    font-weight: 900;
                    letter-spacing: var(--size-8);
                    text-transform: uppercase;
                    text-decoration: none;

                    @media screen and (max-width: $media-tablet) {
                            font-size: var(--size-8);
                    }
                   
                    &:hover{
                        color: var(--c-highlight);
                        cursor: none;
                    }
                }
            }
        }

        /* NAVIGATION MOBILE */
        &-mobile{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;

            margin: auto;
            padding: var(--size-16);
            background-color: var(--c-dark-transparent-50);
          
            display: none;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            @media screen and (max-width: $media-mobile) {
                display: flex;
            }


            /* menu icon */
            .menu{
                color: var(--c-highlight);
                scale: 1.5;
                padding-left: var(--size-8);
            }

            nav{
                margin: 1em 0;
                overflow: hidden;
                height: fit-content; 
                width: 40vw;
                
                transition: all 0.3s ease;

                &.hidden{
                    transition: all 0.3s ease; 
                    height: 0;
                    margin: 0;
                }
            }

            ul{
                display: flex;
                flex-flow: column nowrap;
                gap: var(--size-8);
                                 
                li{
                    list-style: none;
                    padding: 0.5em;
                    margin: 4px;
                    background: rgba($color: #FF006D, $alpha: 1);
                    border-radius: var(--size-24);
                
                    a{
                        color: var(--c-light);
                        font-size: var(--size-16);
                        font-family: var(--font-noto);
                        font-weight: 400;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: var(--size-8);
                            
                        &:hover{
                            text-shadow: 0 0 4px var(--c-light);
                            font-weight: 700;
                        }
                    }
                }
            }
        }

    }

    &__section{
        height: fit-content;
        //margin-bottom: 36em;

        @media screen and (max-width: $media-mobile) {
             //margin-bottom: 32em;   
        }
    }

    .space{
        height: 20vh;
        margin: 2% auto        
    }

    .splash{
        height: 100vh;
        width: 100%;
        display: grid;
        place-content: center;

        position: relative;
        z-index: 3;

        @media screen and (max-width: $media-tablet) {
            width: 100%;
        }

        /* Rive title */
        #canvas{
                width: 80vw;
                height: auto;
                object-fit: contain;

                position: absolute;
                top: 4%;
                left: 0;

                transform: translateX(-5%);

                @media screen and (max-width: $media-tablet) {
                    transform: translateX(-4%);
                    top: 16%;
                    width: 100vw;
                }

                @media screen and (max-width: $media-mobile) {                
                    display: none;
                } 
            }

        .welcome{
            
            transform: translateY(-25%);
            //margin-left: var(--size-72);
            width: 80vw;
            display: flex;
            flex-direction: column;
            gap: var(--size-16);

            @media screen  and (max-width: $media-tablet) {
                //transform: translateY(-25%);
                width: 100%;
            }

            @media screen and (max-width: $media-mobile) {
                transform: translateY(0);
                //margin-left: var(--size-32);
                padding: var(--size-16) var(--size-16);
                line-height: var(--size-32);
                background-color: var(--c-dark-transparent-50);
                width: 100%;
            }

            h1{
                color: var(--c-highlight);
                font-family: var(--font-noto);
                font-size: clamp(var(--size-48), 5vw, var(--size-96));
                font-weight: 900;
                text-transform: uppercase;
                text-shadow: 0 2px 2px var(--c-dark-transparent-50);
                position: relative;
                                

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-48);
                }
            }

            h2{
                color: var(--c-light);
                font-family: var(--font-comfortaa);
                font-size: clamp(var(--size-16), 4vw, var(--size-32));
                font-weight: 100;
                line-height: var(--size-48);
                letter-spacing: 16%;
                width: 60%;
                text-shadow: 0 2px 2px var(--c-dark-transparent-50);

                @media screen and (max-width: $media-tablet) {
                    width: 100%;
                    line-height: var(--size-32);
                }

                @media screen and (max-width: $media-mobile) {
                    font-size: var(--size-16);
                    width: 100%;
                    line-height: 20px;
                }

                span{
                    font-weight: 700;
                }

            }

            /* WELCOME BLOCK */
            &__mobile{
                display: none;

                color: var(--c-light);
                padding: var(--size-16) var(--size-8);
                transform: translateY(90%);

                 @media screen and (max-width: $media-mobile) {                
                    display: block;
                    transform: translateY(-25%);
                    background-color: var(--c-dark-transparent-50);
                } 

                
                h1{
                    font-family: var(--font-noto);
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    color: var(--c-highlight);                  
                  
                    transition: all 0.3s ease;

                    @media screen and (max-width: $media-mobile) {
                        line-height: 90%;
                        text-shadow: 2px 0 4px var(--c-dark-transparent-25);
                    }
                }

                h2{
                    font-family: var(--font-comfortaa);
                    font-size: 1rem;
                    font-weight: 100;
                    text-shadow: 1px 0 2px var(--c-dark);

                    margin-top: 0.5rem;

                    @media screen and (max-width: $media-mobile) {
                        text-shadow: 2px 0 4px var(--c-dark);
                         line-height: 142%;
                    }
                }

            }
      

        }

        .scroll__indicator{
            color: var(--c-light);
            scale: 1.5;
            margin: auto;
            margin-top: var(--size-32);

            animation: mouseScroll 0.8s infinite linear alternate-reverse;

            @media screen and (max-width: $media-mobile) {
                position: absolute;
                bottom: 25%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
         
        .ddesign__VM-bg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: 100vw;
            height: 100vh;
            filter: brightness(80%);
            border: none;
            z-index: -10;  

            &.paused{
                background: url("../../img/backgrounds/ddesign_vm_bg_noLogo.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 95% center;
            }

            &.paused canvas{
                display: none;
            }
                        
            canvas{

                @media screen and (max-width: $media-tablet) {                
                    display: none;
                } 
            }

            @media screen and (max-width: $media-tablet) {                
                background: url("../../img/backgrounds/ddesign_vm_bg_noLogo.jpg");
                background-position: 75% center;
                background-size: cover;
                background-repeat: no-repeat;
                filter: brightness(50%);
                line-height: 135%;
            } 
            
        }

        

    }

    .pauseBG{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            width:fit-content;
            margin: var(--size-16) var(--size-8);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--size-8);

            padding: var(--size-16) 18px;

            color: var(--c-light);
            background-color: var(--c-highlight);
            border: none;
            border-radius: var(--size-80);

            text-align: left;
            font-size: 12px;
            font-family: var(--font-noto);
            text-transform: uppercase;
            opacity: 0.5;

            scale: 0.7;
            font-size: var(--size-16);
            transition: scale 0.3s ease-in-out;

            @media screen and (max-width: $media-tablet) {                
                display: none;
            } 

            &:hover{
                scale: 0.8;
                opacity: 1;
            }
            
        }

    .content{
        position: relative;
        width: 100%;

        .toTop{
            position: absolute;
            left: 50%;
            bottom:2.5%;
            transform: translateX(-50%);
            margin: auto;
            padding: var(--size-16) var(--size-32);

            display: flex;
            align-items: center; 
            justify-content: space-between;
            gap: var(--size-16);

            color: var(--c-light);
            background: var(--c-dark);
            font-family: var(--font-noto);
            font-size: var(--size-24);
            text-decoration: none;
            text-transform: capitalize;
            border: 2px solid var(--c-light);
            border-radius: var(--size-80);

            transition: all 0.3s ease;

            @media screen and (max-width: $media-tablet) {
                bottom: 1.25%;
            }

            @media screen and (max-width: $media-mobile) {
                bottom: 1.5%;
                width: 70%;
                justify-content: center;
                gap: var(--size-8);
                padding: var(--size-8);
                font-size: var(--size-16);
            }

            &:hover{
                background: var(--c-light-transparent-10);
                outline: 1px solid var(--c-light);

                svg{
                    scale: 1.2;
                }
            }
        }
             
        .ddesign__bg-city,
        .ddesign__bg{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -99;
    
            border: none;
            width: 100%;
            height: 100%;
            filter: brightness(25%);
            

            canvas{
                @media screen and (max-width: $media-tablet) {                
                    display: none;
                } 
            }

            @media screen and (max-width: $media-tablet) {                
                background: url("../../img/dddesign_logo_transparent.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            } 
    
        }
    }


}

.inactive{
    visibility: hidden;
}

@keyframes mouseScroll {
    0%{transform: translateY(0);}
    100%{transform: translateY(8px);}
}

@keyframes pulse {
    0%{
       box-shadow: 0 0 0 0 rgba($color: #f2f2f2, $alpha: 0);
    }
    100%{
        box-shadow: 0 0 0 8px rgba($color: #f2f2f2, $alpha: 0.7);
    }
}