//media variables
$media-tablet-wide: 1024px;
$media-tablet: 950px;
$media-mobile-wide: 900px;
$media-mobile: 600px;



/* MIXIN */
@mixin panel-text {
    text-align: center;
    font-family: var(--font-hepta);
    font-size: clamp(1rem, 1.2vw, 2rem);
    padding: .25rem 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.5vh;
}


//.page{
    //&__portfolio{
        
        
       //overflow: hidden;
        //overflow-y: scroll;
        
                      
        //portfolio{  
            
            #portfolio{
                
                background-image: linear-gradient(var(--bg-darkgrey), var(--bg-dark));

                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column nowrap;
                gap: 0;

                overflow: hidden;
                height: 120vh;
                padding-top: 8rem;
              
                @media screen and (max-width: $media-tablet) {
                    
                }

                @media screen and (max-width: $media-mobile-wide) {
                    padding-top: 0;
                }

                @media screen and (max-width: $media-mobile) {
                    padding-top: 4rem;
                    height: fit-content;
                }

                .title{

                    color: var(--text-light);
                    text-align: center;
                    text-transform: uppercase;
                    font-size: var(--size-h2);
                    font-family: var(--font-poppins);
                    font-weight: 200;

                    @media screen and (max-width: $media-tablet) {
                        
                    }
    
                    @media screen and (max-width: $media-mobile-wide) {
                       font-size: 1.2rem;
                    }
    
                    @media screen and (max-width: $media-mobile) {
                       width: 50%;
                    }
                    
                }
                
                /* @media screen and (max-width: $media-tablet) {
                    gap: 4rem;
                }

                @media screen and (max-width: $media-mobile-wide) {
                    gap: 0;
                }

                @media screen and (max-width: $media-mobile) {
                    gap: 6rem;
                } */
                                
                                                            
                    //creates space at the bottom of the portfolio, helps the parallax
                    .space{
                        margin: 0 10%;
                        height: 20px;
                        width: 100%;

                    }
  

                    .modal{

                        /* &__wrapper{
                            display: none;  
                        } */

                        //Modal container
                        &__container{
                                                        
                            position: fixed;
                            top:0;
                            left: 0;
                            z-index: 99;

                            background-color: var(--bg-dark-transparent);
    
                            width: 100%;
                            height: 100%;
                            
                            display: none;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 4rem;

                            animation: blowUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

                            &.out{
                                animation: blowUpBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                            }
                            

                            @media screen and (max-width: $media-tablet-wide) {
                                align-items: center;
                            }

                            /* @media screen and (max-width: $media-mobile-wide) {
                                width: auto;
                                height: auto;
                                padding: 0;
                            } */

                            @media screen and (max-width: $media-mobile) {
                                padding: 0;
                            }



                          
                            .close{
                                position: absolute;
                                top: 3%;
                                right: 2%;

                                padding: 0 0.6rem;
                                //transform: rotate(-45deg);
                                
                                font-size: 2.8rem;
                                text-align: center;
                                color: var(--text-light);
                                cursor: pointer;
                                
                                //outline: 2px solid var(--bg-light);
                                //background-color: var(--bg-darkgrey);
                                border-radius: 50%;
                                z-index: 99;

                                                               

                                @media screen and (max-width: $media-tablet) {
                                    top: 2%;
                                    right: 12%;
                                    font-size: 2rem;
                                }

                                /* @media screen and (max-width: $media-mobile-wide) {
                                    font-size: 1.5rem;
                                    padding: 0.3rem 0.5rem;

                                    right: 12%;
                                } */

                                @media screen and (max-width: $media-mobile) {
                                    right: 2%;
                                    top: 12%;
                                    padding: 0;
                                    font-size: 2rem;
                                    text-shadow: 1px 1px 4px var(--bg-dark);
                                }
                            }


                            //Modal Cards
                            .modal{

                                
                                &__card-1,
                                &__card-2,
                                &__card-3{
                                    display: none;
                                    width: 100%;
                                    margin: auto;
                                                                        
                                    background-color: var(--bg-dark);
                                    scale: 1;

                                    @media screen and (max-width: $media-tablet) {
                                        scale: 1.1;
                                    }

                                    /* @media screen and (max-width: $media-mobile-wide) {
                                        scale: 0.7;
                                        transform: translate(0, -15%);
                                    } */

                                    @media screen and (max-width: $media-mobile) {
                                        scale: 0.85;
                                        transform: translate(0, 5%);
                                    }


                                    .slider__wrapper{
                                        width: 1280px;
                                        height: calc(1080px / 2);
                                        overflow: hidden;
                                        margin: auto;
                                                                            

                                        @media screen and (max-width: $media-tablet-wide) {
                                            width: 100%;
                                            height: 50%;
                                        }

                                        @media screen and (max-width: $media-mobile-wide) {
                                            width: auto;
                                            height: auto;
                                        }

                                        .slider{
                                            display: flex;
                                            width: calc(1920px / 0.5);
                                            height: calc(1080px / 2);
                                                                                   
                                            animation: slide 16s infinite;

                                            @media screen and (max-width: $media-tablet-wide) {
                                                width: calc(1920px / 0.65);
                                                align-items: center;
                                            }

                                            @media screen and (max-width: $media-mobile-wide) {
                                                width: fit-content;
                                                height: fit-content;
                                                animation: none;
                                                overflow-x: scroll;
                                            }

                                            
                                            img{
                                                display: block;
        
                                                width: 100%;
                                                height: 100%;
                                                //max-width: calc(1920px / 0.5);
                                                //max-height: calc(1080px / 2);
                                                object-fit: contain;

        
                                                //margin: auto;
                                                margin-bottom: 2rem;
                                                //border: 1px solid var(--bg-light);
        
                                                @media screen and (max-width: $media-tablet-wide) {
                                                    width: 100%;
                                                    height: 50%;
                                                }

                                                @media screen and (max-width: $media-mobile-wide) {
                                                    width: 50%;
                                                    height: fit-content;
                                                }

                                                
                                            }

                                            

                                        }
                                    }
                                                                                                                                            
  
                                    
                                }

                                &__card{
                                    &-info{
                                        
                                        background-color: var(--bg-dark);
                                        
                                        .card__content{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            gap: 8rem;
                                                                                        
                                            /* @media screen and (max-width: $media-tablet-wide) {
                                                gap: 6rem;
                                                height: fit-content;
                                            } */

                                            @media screen and (max-width: $media-tablet) {
                                                gap: 4rem;
                                            }

                                            /* @media screen and (max-width: $media-mobile-wide) {
                                                align-items: center;
                                                gap: 1rem;
                                            } */

                                            @media screen and (max-width: $media-mobile) {
                                                align-items: flex-start;
                                                justify-content: center;
                                                flex-direction: column-reverse;
                                                gap: 1rem;
                                            }
                                        }

                                        //Modal Portfolio title
                                        h3{

                                            text-align: center;
                                            text-transform: uppercase;
                                            color: var(--text-light);
    
                                            font-family: var(--font-poppins);
                                            font-size: var(--size-h3);
                                            font-weight: 400;
    
                                            padding: 0.5rem;
                                            margin: auto;

                                            @media screen and (max-width: $media-tablet-wide) {
                                                font-size: 24px;
                                            }

                                            @media screen and (max-width: $media-mobile-wide) {
                                                font-size: 17px;
                                                font-weight: 600;
                                                padding: 0.8rem;
                                            }


                                            
                                        }

                                        .card{
                                            &__shorts{
                                                color: var(--text-light);
                                                font-family: var(--font-poppins);
                                                font-size:var(--size-p);
                                                font-weight: 300;
                                                text-transform: uppercase;
                                                padding: 0.5rem;
                                                margin: 0.5rem;

                                                @media screen and (max-width: $media-mobile) {
                                                    padding: 0.25rem;
                                                    margin: 0.25rem;
                                                    display: inline-block;
                                                    margin-left: 1rem;

                                                    font-size: 0.9rem;
                                                }
                                              
                                            }

                                            &__links{

                                                display: flex;
                                                justify-content: space-between;

                                                @media screen and (max-width: $media-mobile) {
                                                    flex-direction: row;
                                                }

                                                a{
                                                    color: var(--text-light);
                                                    padding: 1rem 1.5rem;
                                                    margin: 1rem;

                                                    text-decoration: none;
                                                    text-transform: uppercase;
                                                    text-align: center;
                                                    font-family: var(--font-poppins);
                                                    outline: 1px solid var(--bg-light);

                                                    @media screen and (max-width: $media-mobile) {
                                                        padding: 0.5rem;
                                                        font-size: 0.9rem;
                                                    }

                                                }
                                            }

                                            &__info-text{
                                                width: 50%;
                                                color: var(--text-light);
                                                font-family: var(--font-hepta);
                                                text-wrap: pretty;
                                                line-height: 155%;
                                                letter-spacing: 2px;
                                                padding: 1rem;
                                                

                                                /* @media screen and (max-width: $media-tablet-wide) {
                                                    width: 60%;
                                                    line-height: 125%;
                                                    padding: 0.8rem;
                                                } */

                                                @media screen and (max-width: $media-tablet) {
                                                    height: 240px;
                                                    overflow-y: scroll;
                                                    padding-top: 0;
                                                }

                                                @media screen and (max-width: $media-mobile) {
                                                    height: 220px;
                                                    width: 100%;
                                                    font-size: 0.6rem;
                                                    line-height: 200%;
                                                    text-wrap: wrap;
                                                }

                                                p{
                                                    padding: 0.5rem;
                                                    font-size: 20px;

                                                    @media screen and (max-width: $media-tablet) {
                                                        font-size: 1rem;
                                                        letter-spacing: 3px;
                                                        padding: 1rem;
                                                    }

                                                    @media screen and (max-width: $media-mobile) {
                                                        font-size: 0.85rem;
                                                    }
                                                }

                                            }
                                        }

                                    }
                                }

                            }
                            
                        }

                    }
        
                }

                //portfolio container
                .container{
                    
                    margin: 1rem;
                    margin-left: 10%;
                    scale: 0.95;
                    width: 80vw;
                    
                    @media screen and (max-width: $media-tablet-wide) {
                        width: 60%;
                        margin-left: 10%;                        
                    }
                    
                    @media screen and (max-width: $media-tablet) {
                        width: 0;
                    }

                    @media screen and (max-width: $media-mobile) {
                        margin: auto;
                        //transform: translateX(50%);
                        scale: 0.85;
                    }

                    .slider{

                       &__wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //position: relative;

                        /* @media screen and (max-width: $media-tablet) {
                            flex-flow: column nowrap;
                        } */
                        

                        .slider__button-left,
                       .slider__button-right{
                            background: none;
                            border: none;
                            cursor: pointer;
                            font-size: var(--size-h1);
                            color: var(--text-light);
                            //background-color: var(--bg-dark-transparent);
                            height: 80%;
                            width: 15%;
                            padding: 1rem;
                            transition: all 0.3s ease;

                            /* &:focus{
                                border: 2px solid var(--bg-light);
                            } */

                            @media screen and (max-width: $media-tablet-wide) {
                                padding: 0.8rem;
                                height: 100%;
                            }

                            @media screen and (max-width: $media-tablet) {
                               font-size: 2rem;
                               padding: 1rem;
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: 18px;
                                width: 25%;
                            }

                       }

                       //button icons left & right
                       .slider__button-right:hover i,
                       .slider__button-left:hover i{                        
                          scale: 1.2;                                           
                       }

                       //Slider Cards
                       .card{

                        margin: 2rem;
                        transition: all 0.5s ease;
                        
                        //card wrapper
                        &__wrapper{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            //position: relative; 
                            
                            @media screen and (max-width: $media-mobile) {
                               margin-bottom: 3rem;
                            }
                        }

                        &__image{
                            
                            position: relative;
                            
                            width: 100%;
                            height: 100%;
                            
                            
                            img{
                                width: 50vw;
                                height: 70vh;
                                object-fit: cover;

                                @media screen and (max-width: $media-tablet-wide) {
                                    height: 60vh;
                                }

                                /* @media screen and (max-width: $media-tablet) {
                                    height: 45vh;
                                } */

                                @media screen and (max-width: $media-mobile) {
                                    height: 30vh;
                                }
                                
                            }

                            .card__info{
                                position: absolute;
                                bottom:0;
                                left:0;
                                background-color: var(--bg-dark-transparent);
                                padding: 2%;
                                width: 100%;
                            }

                            figcaption{
                                color: var(--text-light);
                                font-family: var(--font-poppins);
                                font-size: var(--size-h4);
                                text-align: center;

                                @media screen and (max-width: $media-mobile-wide) {
                                    font-size: var(--size-p);
                                }
                            }
                        }

                        &.current{
                            transform: translateX(0);
                            filter: brightness(0.5);

                        }
                        
                        &.previous{
                            transform: translateX(80%);
                            filter: brightness(0.5);
                                
                        }
                        
                        &.next{
                            transform: translateX(-80%);
                            filter: brightness(0.5);
                        }

                        //button action classes
                        &.active{
                            z-index: 5;
                            outline: 2px solid var(--bg-light);
                            scale: 1.1;
                            filter: brightness(1);
                            cursor: pointer;

                            &:hover,
                            &:focus{
                                box-shadow: 0 0 1rem var(--bg-light);
                            }

                            @media screen and (max-width: $media-tablet) {
                                scale: 1.2;
                            }
                        }

                       }

                       }

                       //button positions
                       &__button-left{
                        position: absolute;
                        top: 10%;
                        left: 0;
                        z-index: 90;
                        

                        @media screen and (max-width: $media-tablet-wide) {
                            top: 0;
                            left: -10%;
                        }

                        @media screen and (max-width: $media-tablet) {
                            top: 0;
                            left: -150%;                            
                        }

                        @media screen and (max-width: $media-mobile-wide) {
                            top: 0;
                            left: 10%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            top: 0;
                            left: 0;
                            transform: translateX(-450%);
                        }

                       }

                       &__button-right{
                        position: absolute;
                        top: 10%;
                        right: 0;
                        z-index: 90;

                        @media screen and (max-width: $media-tablet-wide) {
                            top: 0;
                            right: -10%;
                        }

                        
                        @media screen and (max-width: $media-tablet) {
                            top: 0;
                            right: -145%;
                        }
                        
                        @media screen and (max-width: $media-mobile-wide) {
                            top: 100%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            top: 0;
                            right: 0;
                            transform: translateX(450%);
                        }
    
                       }
                    }

                }

                @keyframes blowUp {
                    0%{
                        transform: scale(0);
                        opacity: 0;
                    }
                    100%{
                        transform: scale(1);
                        opacity: 1;
                    }
                }

                @keyframes blowUpBack {
                    to{
                        transform: scale(0);
                        opacity: 0;
                    }
                }

                @keyframes slide {
                    0%{
                        transform: translateX(0);
                    }
                    5%{
                        transform: translateX(0);
                    }
                    25%{
                        transform: translateX(-33.33%);
                    }
                    35%{
                        transform: translateX(-33.33%);
                    }
                    50%{
                        transform: translateX(-66.66%);
                    }
                    60%{
                        transform: translateX(-66.66%);
                    }
                    75%{
                        transform: translateX(-33.33%);
                    }
                    85%{
                        transform: translateX(-33.33%);
                    }
                    95%{
                        transform: translateX(0);
                    }                    
                    100%{
                        transform: translateX(0);
                    }
                }

                @keyframes slideM {
                    0%{
                        transform: translateX(0);
                    }
                    5%{
                        transform: translateX(0);
                    }
                    25%{
                        transform: translateX(-100%);
                    }
                    35%{
                        transform: translateX(-100%);
                    }
                    50%{
                        transform: translateX(-200%);
                    }
                    60%{
                        transform: translateX(-200%);
                    }
                    75%{
                        transform: translateX(-100%);
                    }
                    85%{
                        transform: translateX(-100%);
                    }
                    95%{
                        transform: translateX(0);
                    }                    
                    100%{
                        transform: translateX(0);
                    }
                }

                
                /*  
                &__content{
                       
                    background-attachment: fixed;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    height: 640px;
                    width: 960px;

                    max-width: 100%;
                    max-height: 100%;

                    display: block;
                    margin: auto;
                    width: 80%;
                                        

                    transition: all .8s ease;
                    position: relative;

                    @media screen and (max-width: $media-tablet) {
                        background-size: cover;
                    }

                    &:hover,
                    &:focus{
                        height: 720px;
                        width: 1080px;

                        .image__text{
                            height: 460px;

                            .button__icon{
                                content: 'f078';
                            }
                        }

                        .image__description{
                            color: rgba($color: var(--text-light), $alpha: 1.0);
                        }

                        .portfolio__link{
                            opacity: 1;
                        }

                        
                    }
                    
    
                    &.image{
                        &__port-1{
                            background-image: url("../../img/portfolio/weeb_shop.png");
                        }

                        &__port-2{
                            background-image: url("../../img/portfolio/genshin_teams_light_size.jpg");
                        }

                        &__port-3{
                            background-image: url("../../img/portfolio/WallOfWishes_site.jpg");
                        }

                        &__port-4{
                            background-image: url("../../img/portfolio/to-do-lists.png");
                        }
                    }
                        

                    .image{
                        
                        &__text{
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;

                            position: absolute;
                            bottom: 0;

                            padding: 1rem;
                            width: 100%;
                            height: 60px;
                            overflow: hidden;

                            color: var(--text-light);
                            background-color: var(--bg-dark-transparent);
                            border: thin solid var(--text-light);
                            transition: height 0.5s ease;
                            
                        }

                        &__data{
                            p{
                                font-family: var(--font-hepta);
                                padding: 4px 0;
                            }
                        }

                        &__title{
                            text-align: center;
                            text-transform: capitalize;

                            font-family: var(--font-space-mono);
                            font-weight: 700;

                            padding: .5rem;
                        }

                        &__description{
                            @include panel-text;

                            &-time{
                                padding-left: 1rem;
                            }
                        }
                    }
                }

                &__link{                          

                    opacity: 0;
                    
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;

                    font-size: 1rem;
                    font-weight: 700;
                    font-family: var(--font-space-mono);
                    letter-spacing: 3px;
                    color: var(--text-light);
                    border-radius: .25rem;

                    display: block;
                    padding: .5rem;
                    margin-top: 0.5rem;
                    width: fit-content;
                    transition: all 0.3s ease;

                    @media screen and (max-width: 500px) {
                        outline: thin solid var(--bg-light);
                    }

                    &:hover,
                    &:focus{
                        outline: thin solid var(--text-light);
                    }

                    &:active{
                        box-shadow: -1px -1px 4px inset var(--bg-light);
                    }
                }

                &__wrapper-mobile{
                    display: block;
                    
                    overflow-x: scroll;
                    position: relative; 
                                                          
                    @media screen and (max-width: $media-tablet) {
                        display: block;
                        margin-left: 5%;
                    }

                    .progress__bar{
                        position: fixed;
                        top: 4%;
                        left: 12.5%;
                        margin: 1rem;

                        width: 50vw;
                        height: 4px;
                        border-radius: 0.5rem;
                        
                        background-color: var(--bg-lightgrey);
                        outline: 1px solid var(--bg-light);
                        transition: all 0.3s ease;

                        .progress{
                            background-color: var(--bg-dark);
                            height: 4px;
                            width: 0;
                        }

                    }
                }

                &__container-mobile{
                    display: block;
                    width: 400vw; //based on number of sections (4)
                    height: 90vh;
                    background-color: var(--bg-dark-transparent);
                                                            
                    margin-left: 10%;

                    @media screen and (max-width: $media-tablet){
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-evenly;
                    }

                                        
                    section{
                        width: 100vw;
                        height: 80%;
                        padding: 1.8rem;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: flex-start;

                        @media screen and (max-width: 500px) {
                            padding: 1rem;
                        }
                    }

                    h1{
                        color: var(--text-light);
                        font-size: 1.2rem;
                        font-family: var(--font-space-mono);
                        padding-left: 2rem;
                        padding: 0.25rem;

                        @media screen and (max-width: 500px) {
                            font-size: 1rem;
                        }
                    }


                    .col{  
                        
                        position: relative;
                        display: flex;
                        flex-flow: column nowrap;


                        @media screen and (max-width: 500px) {
                            width: 80vw;
                        }
                        
                        img{
                            display: block;
                            margin: auto;
                            
                            max-width: 100%;
                            height: auto;

                            @media screen and (max-width: 500px) {
                                max-width: 80%;
                            }
                        }

                        p{
                            color: var(--text-light);
                            font-family: var(--font-hepta);
                            font-size: clamp(1rem, 1.5vw, 2rem);
                            line-height: 1.3rem;
                            padding: 0.25rem;

                            @media screen and (max-width: 500px) {
                                font-size: 0.9rem;
                            }
                            

                            span{
                                padding-left: 0.5rem;
                            }

                        }

                        .link__mobile{
                            color: var(--text-light);
                            text-align: center;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-family: var(--font-space-mono);
                            letter-spacing: 2px;

                            margin: 0.25rem;
                            padding: 0.5rem;
                            outline: thin solid var(--bg-light);
                            border-radius: 0.5rem;

                            display: flex; //for the one button with two links in it
                            align-items: center;
                            justify-content: center;


                            @media screen and (max-width: 500px) {
                                font-size: 0.9rem;
                                padding: 0.4rem;
                            }

                            a{
                                color: var(--text-light);
                                text-decoration: none;
                            }

                        }
                    }
                    
                /*     .accordion
                    {
                        background-color: var(--bg-dark);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        text-align: center;
                        font-family: var(--font-space-mono);
                        font-size: 1.5rem;
                        font-weight: 700;
                        letter-spacing: 2px;
                        

                        outline: none;
                        border: none;

                        padding: 1.1rem;
                        width: 100%;
                        height: 240px;
                     
                        transition: all 0.3s ease;
                        position: relative;

                                                                      

                        &.active{
                            background-color: var(--bg-dark-grey);
                        }

                        &.piece-1{
                            background-image: url("../../img/portfolio/weeb_shop.png");
                            color: $accordion-text;
                            text-shadow: 0 0 2px var(--bg-dark), 0 0 4px var(--bg-dark);

                        }

                        &.piece-2{
                            background-image: url("../../img/portfolio/genshin_teams_light-version.png");
                            color: var(--text-light);
                            text-shadow: 0 0 2px var(--bg-dark), 0 0 4px var(--bg-dark);
                        }

                        &.piece-3{
                            background-image: url("../../img/portfolio/WallOfWishes_site.jpg");
                            color: var(--text-light);
                            text-shadow: 0 0 2px var(--bg-dark), 0 0 4px var(--bg-dark);
                        }

                        &.piece-4{
                            background-image: url("../../img/portfolio/to-do-lists.png");
                            color: var(--text-light);
                            text-shadow: 0 0 2px var(--bg-dark), 0 0 4px var(--bg-dark);
                        }
                       

                    }


                    .panel{
                        max-height: 0;
                        padding: 0 1.1rem;
                        background-color: var(--bg-dark);
                        border-left: thin solid var(--bg-light);
                        border-right: thin solid var(--bg-light);
                        overflow: hidden;
                        transition: max-height 0.3s ease;

                        .accordion{
                            &__title{
                                text-align: center;
                                color: var(--text-light);
                                font-family: var(--font-space-mono);
                            }

                            &__description{
                                @include panel-text;
                                color: var(--text-light);
                                font-size: 0.9rem;

                                span{
                                    padding-left: 0.5rem;
                                }
                            }
                        }
                    } 
                }

                */

                

                
            //}
    //}
//}