//media variables
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile: 450px;

$width-card-open: 30em;
$width-card-open-t: 20em;
$width-card-open-m: 12em;
$width-card-default: 7em;
$width-card-default-t: 6em;
$width-card-default-m: 5em;


/* MIXIN */
/* @mixin panel-text {
    text-align: center;
    font-family: var(--font-space);
    font-size: clamp(1rem, 1.2vw, 2rem);
    padding: .25rem 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.5vh;
} */

@mixin bgPortfolio {
    background-repeat: no-repeat;
    background-size: cover;
}


            #portfolio{
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column nowrap;
                gap: 0;

                //overflow: hidden;
                height: auto;
                padding: 6em;
                      
                @media screen and (max-width: $media-tablet) {
                    padding-top: 4rem;
                }

                @media screen and (max-width: $media-mobile) {
                    height: fit-content;
                    padding: 0;
                    margin-bottom: 1em;
                }

                .mask{
                    overflow: hidden;
                }

                .title{

                    color: var(--c-orange);
                    text-shadow: 0 0 4px rgba($color: #f2f2f2, $alpha: 0.5);
                    text-align: center;
                    text-transform: uppercase;
                    font-size: var(--size-h2);
                    font-family: var(--font-comfortaa);
                    font-weight: 300;

                
                    @media screen and (max-width: $media-tablet) {
                        font-size: 1.2rem;
                    }   

    
                    @media screen and (max-width: $media-mobile) {
                       font-size: 1rem;
                       margin: 0 0.25em;
                    }
                    
                }
                
                                          
                                                            
                    //creates space at the bottom of the portfolio, helps the parallax
                    .space{
                        margin: 0 10%;
                        height: 20px;
                        width: 100%;

                    }


                /* ACCORDION */
                .accordion{                    
                    
                    &__container{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin: auto;
                        overflow-y: hidden;

                        @media screen and (max-width: $media-tablet) {
                            scale: 0.9;
                            margin: 0 25%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            scale: 0.8;                            
                        }
                                                                       
                        .accordion__card-wrapper{
                            margin: auto 0.5em;
                            margin-top: 2em; 
                            margin-bottom: 6px;                         
                            width: fit-content;
                            height: auto;
                            border-radius: 1em;
                            cursor: pointer;
                            //overflow: hidden;

                            position: relative;

                            @media screen and (max-width: $media-tablet) {
                                margin-top: 0;
                            }

                                                                                    
                            &:hover .card__thumbnail{
                                cursor: pointer;
                                animation: pulse 1s infinite linear;

                                @media screen and (max-width: $media-tablet) {
                                    animation: none;
                                }
                            }
                            
                            input[type="radio"]{
                                display: none;
                            }

                            input[type="radio"]:checked ~ .card__thumbnail{
                                width: $width-card-open;

                                @media screen and (max-width: $media-tablet) {
                                    width: $width-card-open-t;
                                }

                                @media screen and (max-width: $media-mobile) {
                                    width: $width-card-open-m;
                                }
                                
                                                                
                                &.card-1{
                                    background: linear-gradient(0deg, rgba(0, 174, 255, 0) 0%, rgba(0, 174, 255, 0) 100%), url("../../img/portfolio/traveler_companion.png");
                                    background-position: 20%;
                                    @include bgPortfolio()
                                }

                                &.card-2{
                                
                                    background: linear-gradient(0deg, rgba(106, 0, 255, 0) 0%, rgba(106, 0, 255, 0) 100%), url("../../img/portfolio/remscape_1.png");
                                    background-position: 32%;
                                    @include bgPortfolio()
                                }

                                &.card-3{                                
                                    background: linear-gradient(0deg, rgba(13, 13, 13, 0) 0%, rgba(13, 13, 13, 0) 100%), url("../../img/portfolio/asozial-thumbnail.jpg");
                                    background-position: 20%;
                                    @include bgPortfolio()
                                }

                                &.card-4{                                
                                    background: linear-gradient(0deg, rgba(255, 157, 0, 0) 0%, rgba(255, 157, 0, 0) 100%), url("../../img/portfolio/vm_throne.png");
                                    background-position: 50%;
                                    @include bgPortfolio()
                                }

                               
                            }

                            input[type="radio"]:checked ~ .mask{

                                width: $width-card-open;

                                @media screen and (max-width: $media-tablet) {
                                    width: $width-card-open-t;
                                }

                                @media screen and (max-width: $media-mobile) {
                                    width: $width-card-open-m;
                                }

                                .card__title{
                                    visibility: visible;
                                }
                            
                                
                            }

                            input[type="radio"]:checked ~ .button__info{
                                visibility: visible;
                                bottom: 5%;                                
                            }

                            label{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                                //background-color: red;
                            }

                                                        
                            .mask{
                                width: 0;
                                overflow: hidden;
                                transition: all 0.3s linear;
                            }

                            .card__title{
                                visibility: hidden;
                                color: var(--c-light);
                                padding: 0.8em;
                                margin-bottom: 0.5em;
                                
                                text-align: center;
                                font-family: var(--font-space);
                                font-weight: 400;
                                font-size: 1.4rem;
                                white-space: nowrap;
                                border-radius: 0.5em;

                                @media screen and (max-width: $media-mobile) {
                                    font-size: 0.65rem;
                                }
                                
                                &.title{

                                    &-1{
                                        background: linear-gradient(180deg, #00AEFF 0%, rgba(0, 174, 255, 0.25) 10%, rgba(0, 174, 255, 0.25) 90%, #00AEFF 100%);
                                    }

                                    &-2{
                                        background: linear-gradient(180deg, #6A00FF 0%, rgba(106, 0, 255, 0.25) 10%, rgba(106, 0, 255, 0.25) 90%, #6A00FF 100%);
                                    }

                                    &-3{
                                        background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0.25) 10%, rgba(242, 242, 242, 0.25) 90%, #F2F2F2 100%);
                                    }

                                    &-4{
                                        background: linear-gradient(180deg, #FF9D00 0%, rgba(255, 157, 0, 0.25) 10%, rgba(255, 157, 0, 0.25) 90%, #FF9D00 100%);
                                    }
                                }
                            }

                            

                            .card__thumbnail{
                                width: 7em;
                                height: 40em;
                                                     
                                border-radius: 1em;
                                transition: all 0.3s ease;

                                @media screen and (max-width: $media-tablet) {
                                    height: 35em;
                                }

                                @media screen and (max-width: $media-mobile) {
                                    width: 5em;
                                    height: 25em;
                                    border-radius: 0.8em;
                                }
                               
                                                                
                                &.card-1{
                                    background: linear-gradient(0deg, rgba(0, 174, 255, 0.50) 0%, rgba(0, 174, 255, 0.50) 100%), url("../../img/portfolio/traveler_companion.png");
                                    background-position: 35%;
                                    @include bgPortfolio()
                                }

                                &.card-2{
                                
                                    background: linear-gradient(0deg, rgba(106, 0, 255, 0.50) 0%, rgba(106, 0, 255, 0.50) 100%), url("../../img/portfolio/remscape_1.png");
                                    background-position: 48%;
                                    @include bgPortfolio()
                                }

                                &.card-3{                                
                                    background: linear-gradient(0deg, rgba(240, 240, 240, 0.25) 0%, rgba(240, 240, 240, 0.25) 100%), url("../../img/portfolio/asozial-thumbnail.jpg");
                                    background-position: 48%;
                                    @include bgPortfolio()
                                }

                                &.card-4{                                
                                    background: linear-gradient(0deg, rgba(255, 157, 0, 0.50) 0%, rgba(255, 157, 0, 0.50) 100%), url("../../img/portfolio/vm_throne.png");
                                    background-position: 50%;
                                    @include bgPortfolio()
                                }


                                                                
                            }

                            .button__info{
                                visibility: hidden;

                                position: absolute;
                                bottom: -8%; //comes in when card is active
                                left: 50%;
                                transform: translateX(-50%);
                                margin: auto;
                                padding: 0.5em 1em;
                                border-radius: 0.5em;

                                text-align: center;
                                text-decoration: none;
                                font-family: var(--font-space);
                                font-size: 1.2rem;
                                color: var(--c-light);
                                background: var(--c-light-transparent-25);
                                backdrop-filter: blur(4px);
                                cursor: pointer;

                                transition: all 0.3s ease;

                                @media screen and (max-width: $media-mobile) {
                                    font-size: 1rem;
                                    text-shadow: 1px 2px var(--c-dark);
                                    backdrop-filter: blur(8px);
                                }

                                &:hover {
                                    animation: glitch 0.5s infinite alternate-reverse;

                                    @media screen and (max-width: $media-tablet) {
                                        animation: none;
                                    }
                                }

                            }

                            
                        }

                    }


                }
  

                    .modal{

            
                        //Modal container
                        &__container{
                                                        
                            position: fixed;
                            top: 0;
                            left: 0;
                            z-index: 999;

                            background-color: var(--c-dark-transparent-50);
    
                            width: 100%;
                            height: 100%;
                            
                            display: none;
                            place-content: center;

                            /* flex-flow: column nowrap;
                            justify-content: center;
                            align-items: flex-start; */
                            padding: 4em;

                            
                            &.active{
                                display: grid;
                            }

                            @media screen and (max-width: $media-tablet) {
                                padding: 0;
                            }

                            .close{
                                position: absolute;
                                top: 8%;
                                right: 15%;
                                margin: auto;                         
                                cursor: pointer;
              
                                border-radius: 50%;
                                z-index: 99;
                                
                                @media screen and (max-width: $media-laptop) {
                                    scale: 0.9;
                                    top: 12%;
                                    right: 3%;
                                }

                                @media screen and (max-width: $media-tablet) {
                                    top: 2%;
                                    right: 2%;
                                    scale: 0.8;
                                }

                                
                                @media screen and (max-width: $media-mobile) {
                                    right: 42%;
                                    top: 92%;
                                    scale: 0.5;
                                }
                            }


                            .prtfl__modal{
                                display: none;
                                place-content: center;
                                width: 100%;
                                height: auto;
                                margin: auto;
                                padding: 2em;                                                                        
                                background-color: var(--c-dark);
                                outline: 1px var(--c-light) solid;
                                border-radius: 0.25em;
                                scale: 1;
                                overflow: hidden;
                                position: relative;

                                &.active-content{
                                    display: grid;
                                }
                                
                                @media screen and (max-width: $media-tablet) {
                                    height: 100vh;
                                    width: 100vw;
                                    scale: 0.9;
                                }

                                
                                @media screen and (max-width: $media-mobile) {
                                    scale: 0.85;
                                }

                  
                                ///MODAL
                                .modal__cards{
                                    width: 100%;
                                    height: auto;
                                                                        
                                    @media screen and (max-width: $media-tablet) {
                                        position: absolute;
                                        top: 0;
                                    } 
                                    
                                    #p_canvas{

                                        &-1,
                                        &-2,
                                        &-3,
                                        &-4{
                                            width: 100%;
                                            height: auto;
                                        }

                                    }

                                }                                                                                                          

                                
                            }
                          
                            
                            //Modal Cards
                            .modal{
                                
                                
                                                                
                                &__card{
                                    &-info{

                                        position: absolute;
                                        bottom: 0;
                                        left: 0;

                                        width: 100%;
                                        height: auto;
                                        padding: 1em;
                                        
                                        background-color: rgba($color: #0d0d0d, $alpha: 0.7);

                                        @media screen and (max-width: $media-laptop) {
                                            height: 65%;
                                        }

                                        @media screen and (max-width: $media-tablet) {
                                            height: 50vh;
                                        }

                                        @media screen and (max-width: $media-mobile) {
                                            height: 70vh;
                                        }

                                        //Modal Portfolio title
                                        h1{

                                            text-align: center;
                                            text-transform: uppercase;
                                            color: var(--c-light);
    
                                            font-family: var(--font-comfortaa);
                                            font-size: var(--size-h3);
                                            font-weight: 400;
    
                                            padding: 0.5rem;
                                            margin: auto;

                                            
                                            @media screen and (max-width: $media-tablet) {
                                                font-size: 17px;
                                                font-weight: 600;
                                                padding: 0.8rem;
                                            }                                            
                                        }
                                                                            
                                        .card__content{
                                            display: flex;
                                            align-items: flex-start;
                                            justify-content: center;
                                            gap: 8em;
                                                                                        
                                            
                                             @media screen and (max-width: $media-laptop) {
                                                gap: 6em;
                                            }

                                            @media screen and (max-width: $media-tablet) {
                                                gap: 4em;
                                            }

                                            @media screen and (max-width: $media-mobile) {
                                                align-items: flex-start;
                                                justify-content: space-between;
                                                flex-flow: column-reverse wrap;
                                                gap: 2em;
                                            }

                                            
                                        }

                                        .shorts__wrapper{
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .shorts,
                                        .tools{
                                            color: var(--c-light);
                                            font-family: var(--font-space);
                                            font-size:var(--size-p);
                                            font-weight: 300;
                                            text-transform: uppercase;
                                            padding: 0.5rem;
                                            margin: 0.5rem;

                                            @media screen and (max-width: $media-laptop) {
                                                font-size: 0.9rem;
                                            }

                                        
                                            @media screen and (max-width: $media-laptop) {
                                                display: inline-block;
                                            }

                                        }

                                        .links{

                                            margin: 2em 0;

                                            @media screen and (max-width: $media-laptop) {
                                                display: flex;
                                                align-items: flex-start;
                                                justify-content: center;

                                                margin: 1em 0;
                                            }

                                            /* @media screen and (max-width: $media-mobile) {
                                                margin: 1em 0;
                                            } */

                                            a{
                                                color: var(--c-light);
                                                padding: 1rem 1.5rem;
                                                margin: 1rem;

                                                text-decoration: none;
                                                text-transform: uppercase;
                                                text-align: center;
                                                font-family: var(--font-space);
                                                font-size: 1rem;
                                                outline: 1px solid var(--c-light);
                                                border-radius: 0.5em;
                                                transition: all 0.3s ease;
                                                position: relative;

                                                &:hover{
                                                    background-color: rgba($color: #f2f2f2, $alpha: 0.25);
                                                    backdrop-filter: blur(8px);

                                                    @media screen and (max-width: $media-tablet) {
                                                        background-color: transparent;
                                                    }
                                                }

                                                &:hover::after{
                                                    opacity: 1;

                                                    @media screen and (max-width: $media-tablet) {
                                                        opacity: 0;
                                                    }
                                                }

                            
                                                &::after{
                                                    opacity: 0;
                                                   
                                                    content: attr(data-text);
                                                    position: absolute;
                                                    bottom: -2.4em;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                    width: fit-content;
                                                    height: auto;
                                                    background-color: var(--c-blue);
                                                    white-space: nowrap;
                                                    font-size: 0.8rem;
                                                    letter-spacing: 3px;
                                                    padding: 0.25em 0.5em; 
                                                    border-radius: 0.25em;
                                                    transition: all 0.3s ease;
                                                    
                                                }

                                                @media screen and (max-width: $media-laptop) {
                                                    margin: 0 1rem;
                                                }

                                                @media screen and (max-width: $media-mobile) {
                                                    padding: 0.5rem;
                                                    font-size: 0.9rem;
                                                }
                                            }
                                            
                                        }

                                        .info{
                                            color: var(--c-light);
                                            font-size: clamp(1.2rem, 12vw, 0.6rem);
                                            font-family: var(--font-comfortaa);
                                            width: 50%;
                                            text-wrap: pretty;
                                            line-height: 155%;
                                            letter-spacing: 2px;
                                            padding: 1rem;

                                            max-width: 65ch;

                                            p:nth-of-type(2){
                                                margin-top: 1em;
                                            }

                                            @media screen and (max-width: $media-laptop) {
                                                width: 80%;
                                                font-size: 0.85rem;
                                            }

                                            @media screen and (max-width: $media-tablet) {
                                                font-size: 0.9rem;
                                            }
                                            

                                            @media screen and (max-width: $media-mobile) {
                                                height: 24vh;
                                                width: 100%;
                                                padding: 0;
                                                font-size: 0.65rem;
                                                line-height: 200%;
                                                text-wrap: wrap;
                                            }
                                        }


                                        .card{
                                            &__shorts{
                                                color: var(--c-light);
                                                font-family: var(--font-comfortaa);
                                                font-size:var(--size-p);
                                                font-weight: 300;
                                                text-transform: uppercase;
                                                padding: 0.5rem;
                                                margin: 0.5rem;

                                                @media screen and (max-width: $media-mobile) {
                                                    padding: 0.25rem;
                                                    margin: 0.25rem;
                                                    display: inline-block;
                                                    margin-left: 1rem;

                                                    font-size: 0.9rem;
                                                }
                                              
                                            }

                                            &__links{

                                                display: flex;
                                                justify-content: space-between;

                                                @media screen and (max-width: $media-mobile) {
                                                    flex-direction: row;
                                                }

                                                a{
                                                    color: var(--c-light);
                                                    padding: 1rem 1.5rem;
                                                    margin: 1rem;

                                                    text-decoration: none;
                                                    text-transform: uppercase;
                                                    text-align: center;
                                                    font-family: var(--font-comfortaa);
                                                    outline: 1px solid var(--c-light);

                                                    @media screen and (max-width: $media-tablet) {
                                                        margin: 0;
                                                    }

                                                    @media screen and (max-width: $media-mobile) {
                                                        padding: 0.5rem;
                                                        font-size: 0.9rem;
                                                    }

                                                }
                                            }

                                            &__info-text{
                                                width: 50%;
                                                color: var(--c-light);
                                                font-family: var(--font-comfortaa);
                                                text-wrap: balance;
                                                line-height: 155%;
                                                letter-spacing: 2px;
                                                padding: 1rem;
                                                
                                                /* @media screen and (max-width: $media-tablet-wide) {
                                                    width: 60%;
                                                    line-height: 125%;
                                                    padding: 0.8rem;
                                                } */

                                                @media screen and (max-width: $media-tablet) {
                                                    //height: 240px;
                                                    overflow-y: scroll;
                                                    padding-top: 0;
                                                }

                                                @media screen and (max-width: $media-mobile) {
                                                    //height: 220px;
                                                    width: 100%;
                                                    font-size: 0.6rem;
                                                    line-height: 200%;
                                                    text-wrap: wrap;
                                                }

                                                p{
                                                    padding: 0.5rem;
                                                   
                                                    
                                                    @media screen and (max-width: $media-tablet) {
                                                        font-size: 1rem;
                                                        letter-spacing: 3px;
                                                        padding: 1rem;
                                                    }

                                                    @media screen and (max-width: $media-mobile) {
                                                        font-size: 0.85rem;
                                                    }
                                                }

                                            }
                                        }

                                    }
                                }

                            }
                            
                        }

                    }
        
                }

                //portfolio container
                .container{
                    
                    margin: 1rem;
                    //margin-left: 10%;
                    scale: 0.95;
                    width: 80vw;
                    
                                        
                    @media screen and (max-width: $media-mobile) {
                        margin: auto;
                        //transform: translateX(50%);
                        scale: 0.85;
                    }

                    .slider{

                       &__wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //position: relative;

                        /* @media screen and (max-width: $media-tablet) {
                            flex-flow: column nowrap;
                        } */
                        

                        .slider__button-left,
                       .slider__button-right{
                            background: none;
                            border: none;
                            cursor: pointer;
                            font-size: var(--size-h1);
                            color: var(--c-light);
                            //background-color: red; //to check on the whole button
                            height: 80%;
                            width: 15%;
                            padding: 1rem;
                            transition: all 0.3s ease;

                            /* &:focus{
                                border: 2px solid var(--bg-light);
                            } */

                            
                            @media screen and (max-width: $media-tablet) {
                               font-size: 2rem;
                               padding: 1rem;
                            }

                            @media screen and (max-width: $media-mobile) {
                                font-size: 24px;
                                width: 50%;
                                padding: 0 1.2rem;
                            }


                       }

                       //button icons left & right
                       .slider__button-right:hover i,
                       .slider__button-left:hover i{                        
                          scale: 1.2;                                           
                       }

                       //Slider Cards
                       .card{

                        margin: 2rem;
                        transition: all 0.5s ease;
                        
                        //card wrapper
                        &__wrapper{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            //position: relative; 
                            
                            @media screen and (max-width: $media-mobile) {
                               margin-bottom: 3rem;
                            }
                        }

                        &__image{
                            
                            position: relative;
                            
                            width: 100%;
                            height: 100%;
                            
                            
                            img{
                                width: 50vw;
                                height: 70vh;
                                object-fit: cover;

                                
                                @media screen and (max-width: $media-tablet) {
                                    height: 45vh;
                                }

                                
                                @media screen and (max-width: $media-mobile) {
                                    height: 30vh;
                                }
                                
                            }

                            .card__info{
                                position: absolute;
                                bottom:0;
                                left:0;
                                background-color: var(--bg-dark-transparent);
                                padding: 2%;
                                width: 100%;
                            }

                            figcaption{
                                color: var(--c-light);
                                font-family: var(--font-comfortaa);
                                font-size: var(--size-h4);
                                text-align: center;

                                @media screen and (max-width: $media-tablet) {
                                    font-size: var(--size-p);
                                }
                            }
                        }

                        &.current{
                            transform: translateX(0);
                            filter: brightness(0.5);

                        }
                        
                        &.previous{
                            transform: translateX(80%);
                            filter: brightness(0.5);
                                
                        }
                        
                        &.next{
                            transform: translateX(-80%);
                            filter: brightness(0.5);
                        }

                        //button action classes
                        &.active{
                            z-index: 5;
                            outline: 2px solid var(--bg-light);
                            scale: 1.1;
                            filter: brightness(1);
                            cursor: pointer;

                            &:hover,
                            &:focus{
                                box-shadow: 0 0 1rem var(--bg-light);
                            }

                            @media screen and (max-width: $media-tablet) {
                                scale: 1.2;
                            }
                        }

                       }

                       }

                       //button positions
                       &__button-left{
                        position: absolute;
                        top: 10%;
                        left: 0;
                        z-index: 90;
                        

                       
                        @media screen and (max-width: $media-tablet) {
                            left: -5%;                            
                        }

                    
                        @media screen and (max-width: $media-mobile) {
                            top: 5%;
                            left: -30%;
                        }

                       }

                       &__button-right{
                        position: absolute;
                        top: 10%;
                        right: 0;
                        z-index: 90;

                                                                       
                        @media screen and (max-width: $media-tablet) {
                            right: -5%;
                        }

                        @media screen and (max-width: $media-mobile) {
                            top: 5%;
                            right: -30%;
                        }
    
                       }
                    }

                }


/* Hover for cards */                
@keyframes glitch {
    0% {
    filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px -1px magenta);
    }
    25% {
    filter: drop-shadow(-1px -2px var(--c-blue)) drop-shadow(2px 1px magenta);
    }
    50% {
    filter: drop-shadow(2px 1px var(--c-blue)) drop-shadow(-2px 1px magenta);
    }
    75% {
    filter: drop-shadow(-2px -1px var(--c-blue)) drop-shadow(-2px -1px magenta);
    }
    100% {
    filter: drop-shadow(2px 0 var(--c-blue)) drop-shadow(2px -1px magenta);
    }
}

@keyframes pulse {
    0%{box-shadow: 0 0 0 4px var(--c-light);}
    100%{box-shadow: 0 0 0 8px transparent;}
}

