
//Colors
:root{
    --c-dark: #0d0d0d;
    --c-dark-transparent-50: rgba(13,13,13,0.5);
    --c-dark-transparent-25: rgba(13,13,13,0.25);
    --c-light: #f2f2f2;
    --c-light-transparent-50: rgba(242, 242, 242, 0.5);
    --c-light-transparent-10: rgba(242, 242, 242, 0.1);
    --c-highlight: #FF006D;
}

//Font Sizes
:root{
    --size-4: 0.25rem;
   --size-8: 0.5rem;
   --size-16: 1rem;
   --size-24: 1.5rem;
   --size-32: 2rem;
   --size-48: 2.5rem;
   --size-56: 3rem;
   --size-64: 3.5rem;
   --size-72: 4rem;
   --size-80: 4.5rem;
   --size-88: 5rem;
   --size-96: 5.5rem;
}

//Fonts
:root{
    --font-comfortaa: 'Comfortaa', sans-serif; //used for text
    --font-noto: 'Noto Sans JP', sans-serif; //used for titles
}


