
//Colors
:root{
    --text-light:#efefef;
    --text-dark: #1d1d1d;
    --text-disabled: #474747;
    --text-link: rgb(0, 174, 255);
    --bg-dark: #1d1d1d;
    --bg-dark-transparent: #1d1d1dec;
    --bg-darkgrey: #2b2b2b;
    --bg-lightgrey: #afafaf;
    --bg-light: whitesmoke;
    --bg-light-transparent: rgba(245, 245, 245, 0.5);
    --bg-grey-transparent: rgba(56, 56, 56, 0.5);
}

//Font Sizes
:root{
    --size-h1: 2.5vw;
    --size-h2: 2.2vw;
    --size-h3: 2vw;
    --size-h4: 1.5vw;
    --size-p: 1rem;
}

//Fonts
:root{
    --font-poppins: 'Poppins', sans-serif; //used for headlines, nav and labels
    --font-hepta: 'Hepta Slab', serif; //used for paragraphs
}


